src/flows/Account_Protected_By_Last_Change_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Contact_Acc_Name</name>
        <label>Update Contact Acc Name</label>
        <locationX>721</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Current_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Became_Research_Client</name>
        <label>Became Research Client</label>
        <locationX>534</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Lost_Client_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Research_Client_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Contract_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Became_Client_Research</targetReference>
            </connector>
            <label>Research Client - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_in_Current_Product_Decision</name>
        <label>Change in Current Product Decision</label>
        <locationX>831</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_Product_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Products__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts</targetReference>
            </connector>
            <label>Yes - Current Product Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Research_Opportunity</name>
        <label>Check Research Opportunity</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Became_Research_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Research_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Contract_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Renewal_Year</targetReference>
            </connector>
            <label>Research Opportunity</label>
        </rules>
        <rules>
            <name>Research_Oppty_Blank_Contract_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Contract_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Research_to_Default</targetReference>
            </connector>
            <label>Research Oppty Blank Contract Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Renewal_Year</name>
        <label>First Renewal Year</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Became_Research_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Became_Client_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Became_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Renewal_Yr</targetReference>
            </connector>
            <label>Became Client not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lost_Client_Decision</name>
        <label>Lost Client Decision</label>
        <locationX>534</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Protected_By_field_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Became_Lost_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lost_Client_Renewal_Yr</targetReference>
            </connector>
            <label>Became Lost Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Protected_By_field_update</name>
        <label>Protected By field update</label>
        <locationX>534</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Change_in_Current_Product_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Protected_By_field_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Protected_By__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Protected_By_Last_Change</targetReference>
            </connector>
            <label>Protected By field is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contact_List_Not_Empty</name>
        <label>Update Contact List Not Empty</label>
        <locationX>633</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Name_On_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SF-546: Flow to time stamp Protected By Last Change
SF-775: PB Migration</description>
    <environments>Default</environments>
    <formulas>
        <name>Add_1Day_ContractEndDate</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Get_Opportunity.Contract_End_Date__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Add_1Year_ActivationDate</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.Activation_Date__c}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Convert_ActivationYr_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Add_1Year_ActivationDate})</expression>
    </formulas>
    <formulas>
        <name>Convert_Yr_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Add_1Day_ContractEndDate})</expression>
    </formulas>
    <interviewLabel>Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Protected By Last Change Update</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>633</locationX>
        <locationY>1955</locationY>
        <collectionReference>Get_All_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Contact_Acc_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_List_Not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>633</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Renewal_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Research_Products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Contract_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Became_Client_Research</name>
        <label>Update Became Client Research</label>
        <locationX>402</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Lost_Client_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Became_Client_Research__c</field>
            <value>
                <elementReference>Get_Opportunity.Contract_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_Renewal_Year</name>
        <label>Update First Research</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Became_Research_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Renewal_Year_Research__c</field>
            <value>
                <elementReference>Convert_Yr_Text</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_Renewal_Yr</name>
        <label>Update First Renewal Yr</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Research_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Renewal_Year__c</field>
            <value>
                <elementReference>Convert_ActivationYr_Text</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lost_Client_Renewal_Yr</name>
        <label>Update Lost Client Renewal Yr</label>
        <locationX>402</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Protected_By_field_update</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Renewal_Year_Research__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>First_Renewal_Year__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Name_On_Contact</name>
        <label>Update Product Name On Contact</label>
        <locationX>501</locationX>
        <locationY>2363</locationY>
        <inputReference>ContactList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Protected_By_Last_Change</name>
        <label>Update Protected By Last Change</label>
        <locationX>237</locationX>
        <locationY>1739</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Protected_By_Last_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Research_to_Default</name>
        <label>Update Research to Default</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Became_Research_Client</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Renewal_Year_Research__c</field>
            <value>
                <stringValue>See Opportunities</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
