src/flows/Account_RevOps_Auto_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_RevOps_History_Date</name>
        <label>Add RevOps History Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RevOps_Assigned_Date_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevOpsDateHistory</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Last_Assignment_Date_Change</name>
        <label>Last Assignment Date Change?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RevOps_Last_Assignment_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RevOps_Last_Assignment_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RevOps_Last_Assignment_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_RevOps_History_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConcatDateHistory</name>
        <dataType>String</dataType>
        <expression>RIGHT(&quot;0&quot; &amp; TEXT(MONTH({!$Record.RevOps_Last_Assignment_Date__c})), 2)
&amp; &quot;/&quot;
&amp; RIGHT(&quot;0&quot; &amp; TEXT(DAY({!$Record.RevOps_Last_Assignment_Date__c})), 2)
&amp; &quot;/&quot;
&amp; TEXT(YEAR({!$Record.RevOps_Last_Assignment_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>RevOpsDateHistory</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK(TRIM($Record.RevOps_Assigned_Date_History__c)),
    TEXT(MONTH($Record.RevOps_Last_Assignment_Date__c)) &amp; &quot;/&quot; &amp;
    TEXT(DAY($Record.RevOps_Last_Assignment_Date__c)) &amp; &quot;/&quot; &amp;
    TEXT(YEAR($Record.RevOps_Last_Assignment_Date__c)) &amp; &quot; &quot;,
    TEXT(MONTH($Record.RevOps_Last_Assignment_Date__c)) &amp; &quot;/&quot; &amp;
    TEXT(DAY($Record.RevOps_Last_Assignment_Date__c)) &amp; &quot;/&quot; &amp;
    TEXT(YEAR($Record.RevOps_Last_Assignment_Date__c)) &amp; &quot; &quot; &amp;
    &quot;; &quot; &amp; TRIM($Record.RevOps_Assigned_Date_History__c)
)</expression>
    </formulas>
    <interviewLabel>Account - RevOps Auto Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - RevOps Auto Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>RevOps_Last_Assignment_Date</name>
        <label>RevOps Last Assignment Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Last_Assignment_Date_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>RevOps_Last_Assignment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revops_Last_Assigned_To__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RevOps_Last_Assignment_Date</targetReference>
        </connector>
        <filterFormula>{!$User.Department} != &apos;Sales&apos; &amp;&amp; ISCHANGED({!$Record.OwnerId})</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDateHistory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
