src/flows/Account_Protected_By_Last_Change_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Contact_Acc_Name</name>
        <label>Update Contact Acc Name</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Current_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_in_Current_Product_Decision</name>
        <label>Change in Current Product Decision</label>
        <locationX>644</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_Product_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Products__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts</targetReference>
            </connector>
            <label>Yes - Current Product Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Renewal_Year</name>
        <label>First Renewal Year</label>
        <locationX>347</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Protected_By_field_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Became_Client_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Became_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Renewal_Year</targetReference>
            </connector>
            <label>Became Client not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Protected_By_field_update</name>
        <label>Protected By field update</label>
        <locationX>347</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Change_in_Current_Product_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Protected_By_field_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Protected_By__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Protected_By_Last_Change</targetReference>
            </connector>
            <label>Protected By field is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contact_List_Not_Empty</name>
        <label>Update Contact List Not Empty</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Name_On_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>SF-546: Flow to time stamp Protected By Last Change
SF-775: PB Migration</description>
    <environments>Default</environments>
    <formulas>
        <name>Add_1Year_BecameClient</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Record.Became_Client__c}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Convert_Yr_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Add_1Year_BecameClient})</expression>
    </formulas>
    <interviewLabel>Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Protected By Last Change Update</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_All_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Contact_Acc_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_List_Not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_First_Renewal_Year</name>
        <label>Update First Renewal Year</label>
        <locationX>215</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Protected_By_field_update</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Renewal_Year__c</field>
            <value>
                <elementReference>Convert_Yr_Text</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Name_On_Contact</name>
        <label>Update Product Name On Contact</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <inputReference>ContactList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Protected_By_Last_Change</name>
        <label>Update Protected By Last Change</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Protected_By_Last_Change__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Renewal_Year</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
