src/flows/Account_6Sense_SDO_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Contact_List</name>
        <label>Update Contact List</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ContactVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Owner_Change</name>
        <label>Account Owner Change</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Account_Owner</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts</targetReference>
            </connector>
            <label>Change Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_List</name>
        <label>Check Contact List</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Owners</targetReference>
            </connector>
            <label>List Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>X6_Sense_Segment_Name_Decision</name>
        <label>6 Sense Segment Name Decision</label>
        <locationX>347</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Account_Owner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X6Sense_Segment_Changed</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_6sense_Segment_Names__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GS Combined ICP - Stage 3: Decision Intent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_6sense_Segment_Names__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_6sense_Segment_Names__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gulshan’s SDR workflow test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_6sense_Segment_Names__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_SDO_Record_Type</targetReference>
            </connector>
            <label>6Sense Segment Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - 6Sense SDO Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - 6Sense SDO Creation</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_All_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Contact_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Contact_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SDO</name>
        <label>Create SDO</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inbound__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>6sense</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Channel__c</field>
            <value>
                <stringValue>Cold Outreach</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>Green Street</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_SDO_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X6Sense_Segment_Names__c</field>
            <value>
                <elementReference>$Record.Account_6sense_Segment_Names__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_SDO_Record_Type</name>
        <label>Get Record SDO Record Type</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SDO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Development</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Owners</name>
        <label>Update Contact Owners</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <inputReference>ContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X6_Sense_Segment_Name_Decision</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
