src/flows/Analyst_Count.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Get_GSA_Contact_Count</name>
        <label>Get GSA Contact Count</label>
        <locationX>1140</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>ContactCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Count_Of_GSA_Analyst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_GSA_Contact_Ids</name>
        <label>Get GSA Contact Ids</label>
        <locationX>1163</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asssign_GAS_ContactIds.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asssign_GAS_ContactIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Who_Id_Value</name>
        <label>Check Who Id Value</label>
        <locationX>800</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_WhoId_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskWhoRelation_Info</targetReference>
            </connector>
            <label>Is WhoId Not Empty</label>
        </rules>
        <rules>
            <name>Is_WhoId_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Analyst_Count_Data__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GSA_Analyst_Count_Empty_For_Task</targetReference>
            </connector>
            <label>Is WhoId Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Contact_Record_Found</name>
        <label>Checking Contact Record Found</label>
        <locationX>945</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GSA_Contact_Count</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Analyst Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Analyst Count For Task Record</label>
    <loops>
        <name>Asssign_GAS_ContactIds</name>
        <label>Asssign GAS ContactIds</label>
        <locationX>977</locationX>
        <locationY>267</locationY>
        <collectionReference>TaskWhoRelation_Info</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_GSA_Contact_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contact_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>861</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Contact_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>GSA_Analyst__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>GSA_Analyst__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TaskWhoRelation_Info</name>
        <label>TaskWhoRelationInfo</label>
        <locationX>1042</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asssign_GAS_ContactIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TaskWhoRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelationId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_GSA_Analyst_Count_Empty_For_Task</name>
        <label>Set GSA Analyst Count Empty For Task</label>
        <locationX>692</locationX>
        <locationY>421</locationY>
        <inputAssignments>
            <field>Analyst_Count_Data__c</field>
            <value>
                <elementReference>ContactCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Count_Of_GSA_Analyst</name>
        <label>Update Count Of GSA Analyst</label>
        <locationX>1287</locationX>
        <locationY>465</locationY>
        <inputAssignments>
            <field>Analyst_Count_Data__c</field>
            <value>
                <elementReference>ContactCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>426</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Who_Id_Value</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
