src/flows/Analyst_Hours.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Final_Analyst_Hours_For_Account</name>
        <label>Final Analyst Hours For Account</label>
        <locationX>515</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>AnalystHoursForAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Event_Analyst_Hours_Count.Total_Analyst_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Event_Analyst_Hours_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Analyst_Hours_For_Account</name>
        <label>Total Analyst Hours For Account</label>
        <locationX>1094</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>AnalystHoursForAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_All_Tasks.Total_Analyst_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Task_Should_be_Completed</name>
        <label>Task Should be Completed</label>
        <locationX>505</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_Task_Status</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_For_Account</targetReference>
            </connector>
            <label>Checking Task Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastyearDateFromToday</name>
        <dataType>Date</dataType>
        <expression>( {!$Flow.CurrentDate} - 365 )</expression>
    </formulas>
    <interviewLabel>Analyst Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total Analyst Hours For Account on Task</label>
    <loops>
        <name>Iterate_All_Tasks</name>
        <label>Iterate All Tasks</label>
        <locationX>888</locationX>
        <locationY>128</locationY>
        <collectionReference>Get_Tasks_For_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Analyst_Hours_For_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Completed_Events_For_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Event_Analyst_Hours_Count</name>
        <label>Iterate Event Analyst Hours Count</label>
        <locationX>735</locationX>
        <locationY>323</locationY>
        <collectionReference>Get_All_Completed_Events_For_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Final_Analyst_Hours_For_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_For_Analyst_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Completed_Events_For_Account</name>
        <label>Get All Completed Events For Account</label>
        <locationX>889</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Event_Analyst_Hours_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Analyst_Hours__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>LastyearDateFromToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Analyst_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_For_Account</name>
        <label>Get Tasks For Account</label>
        <locationX>756</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Analyst_Hours__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>LastyearDateFromToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_For_Analyst_Hours</name>
        <label>Update Account For Analyst Hours</label>
        <locationX>739</locationX>
        <locationY>510</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Analyst_Hours__c</field>
            <value>
                <elementReference>AnalystHoursForAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>68</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Task_Should_be_Completed</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AnalystHoursForAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AssignTotalAnalystRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Total_Analyst_Hours__c</elementReference>
        </value>
    </variables>
</Flow>
