src/flows/Commercial_Tech_Request_Alert_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commercial_Tech_Request_Email</name>
        <label>Commercial Tech Request Email</label>
        <locationX>50</locationX>
        <locationY>3047</locationY>
        <actionName>Case.New_Salesforce_Request_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Is_Changed_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Salesforce_Request_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CTR_Auto_Reply</name>
        <label>CTR Auto Reply</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <actionName>Case.Commercial_Tech_Request_Auto_Reply</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Salesforce_Report_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Commercial_Tech_Request_Auto_Reply</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceRequestCaseClosed</name>
        <label>SalesforceRequestCaseClosed</label>
        <locationX>50</locationX>
        <locationY>3647</locationY>
        <actionName>Case.Salesforce_Request_Case_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Salesforce_Request_Case_Closed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceRequestStatusUpdate</name>
        <label>SalesforceRequestStatusUpdate</label>
        <locationX>50</locationX>
        <locationY>3347</locationY>
        <actionName>Case.Salesforce</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Case_Status_Is_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Salesforce</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Application_Is_Not_Null_Decision</name>
        <label>Application Is Not Null Decision</label>
        <locationX>182</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>Case_Is_Changed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApplicationIsNotNullOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commercial_Tech_Request_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ApplicationIsNotNullOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Is_Changed_Decision</name>
        <label>Case Is Changed Decision</label>
        <locationX>182</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Case_Status_Is_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseIsChangedDecision</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Testing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Backlog</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceRequestStatusUpdate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CaseIsChangedDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status_Is_Closed</name>
        <label>Case Status Is Closed</label>
        <locationX>182</locationX>
        <locationY>3539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseStatusIsClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceRequestCaseClosed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CaseStatusIsClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTR_Amplitude_Decision</name>
        <label>CTR Amplitude Decision</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CTR_Chorus_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AmplitudeRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amplitude</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Amplitude</targetReference>
            </connector>
            <label>AmplitudeRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTR_Chorus_Decision</name>
        <label>CTR Chorus Decision</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>CTR_Hubspot_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChorusRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chorus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Chorus</targetReference>
            </connector>
            <label>ChorusRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTR_Hubspot_Decision</name>
        <label>CTR Hubspot Decision</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>CTR_Linkedln_Desicion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HubspotRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HubSpot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Hubspot</targetReference>
            </connector>
            <label>HubspotRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTR_Linkedln_Desicion</name>
        <label>CTR Linkedln Desicion</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>CTR_Salesloft_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LinkedlnRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Linkedin Sales Nav</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Linkedln</targetReference>
            </connector>
            <label>LinkedlnRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTR_Salesloft_Decision</name>
        <label>CTR Salesloft Decision</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>CTR_ZoomInfo_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SalesloftRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesLoft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Salesloft</targetReference>
            </connector>
            <label>SalesloftRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTR_ZoomInfo_Decision</name>
        <label>CTR ZoomInfo Decision</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Request_Category_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZoomInfoRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZoomInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_ZoomInfo</targetReference>
            </connector>
            <label>ZoomInfoRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Commercial_Tech_Request</name>
        <label>New Commercial Tech Request</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Tech_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTR_Amplitude_Decision</targetReference>
            </connector>
            <label>Commercial Tech Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_Report_Decision</name>
        <label>Salesforce Report Decision</label>
        <locationX>182</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>Application_Is_Not_Null_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reports &amp; Dashboards</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Salesforce_Report_Request</targetReference>
            </connector>
            <label>Salesforce Report</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_Request_Category_Decision</name>
        <label>Salesforce Request Category Decision</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Report_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reports &amp; Dashboards</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Salesforce_Request</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Salesforce Request</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CasedIsClosedFormula</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>StatusIsChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Status})</expression>
    </formulas>
    <interviewLabel>Commercial Tech Request Alert Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Commercial Tech Request Alert Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Owner_Amplitude</name>
        <label>Update Owner = Amplitude</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>CTR_Chorus_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000005VUSe</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Chorus</name>
        <label>Update Owner = Chorus</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>CTR_Hubspot_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000005VUSf</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Hubspot</name>
        <label>Update Owner = Hubspot</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>CTR_Linkedln_Desicion</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000005VUSg</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Linkedln</name>
        <label>Update Owner = Linkedln</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>CTR_Salesloft_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000005VUSh</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Salesforce_Report_Request</name>
        <label>Update Owner = Salesforce Report Request</label>
        <locationX>50</locationX>
        <locationY>2747</locationY>
        <connector>
            <targetReference>Application_Is_Not_Null_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reports &amp; Dashboards</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000005VUSi</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Salesforce_Request</name>
        <label>Update Owner = Salesforce Request</label>
        <locationX>50</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>CTR_Auto_Reply</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reports &amp; Dashboards</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00Gf4000003v43V</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Salesloft</name>
        <label>Update Owner = Salesloft</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>CTR_ZoomInfo_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000005VUSj</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_ZoomInfo</name>
        <label>Update Owner = ZoomInfo</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Salesforce_Request_Category_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000005VUSk</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Commercial_Tech_Request</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmplitudeQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
</Flow>
