src/flows/Contact_UpdateAPEmailifEmailChange.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignAddtoCollectionforUpdate</name>
        <label>AssignAddtoCollectionforUpdate</label>
        <locationX>1130</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>socv_OpptyContactRoleUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopthroughOpptyContactRoles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopthroughOpptyContactRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBCEmailChangeFalse</name>
        <label>AssignBCEmailChangeFalse</label>
        <locationX>922</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>LoopthroughOpptyContactRoles.Billing_Contact_Email_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAddtoCollectionforUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBCEmailChangeTrue_0</name>
        <label>AssignBCEmailChangeTrue</label>
        <locationX>710</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>LoopthroughOpptyContactRoles.Billing_Contact_Email_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAddtoCollectionforUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Value_Decision</name>
        <label>Change Value Decision</label>
        <locationX>703</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>AssignBCEmailChangeTrue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BC_Email_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopthroughOpptyContactRoles.Billing_Contact_Email_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBCEmailChangeFalse</targetReference>
            </connector>
            <label>BC Email Change</label>
        </rules>
    </decisions>
    <interviewLabel>Contact - UpdateAPEmailifEmailChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - UpdateAPEmailifEmailChange</label>
    <loops>
        <name>LoopthroughOpptyContactRoles</name>
        <label>LoopthroughOpptyContactRoles</label>
        <locationX>464</locationX>
        <locationY>214</locationY>
        <collectionReference>sovc_OpptyContactRoles1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Value_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOppContactRole</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>176</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpptyContactRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sov_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpptyContactRoles</name>
        <label>getOpptyContactRoles</label>
        <locationX>300</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthroughOpptyContactRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Contact.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>sovc_OpptyContactRoles1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Contact_Email_Changed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOppContactRole</name>
        <label>UpdateOppContactRole</label>
        <locationX>470</locationX>
        <locationY>391</locationY>
        <inputReference>socv_OpptyContactRoleUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socv_AcctContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>socv_OpptyContactRoleUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>sov_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sovc_OpptyContactRoles1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
