src/flows/Copy_Subscribers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Bulk_Subscription_Users</name>
        <label>Create Bulk Subscription Users</label>
        <locationX>842</locationX>
        <locationY>1310</locationY>
        <actionName>script_InvocableCreateSubUsersBulk</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Confirmation_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceSubscriptionId</name>
            <value>
                <elementReference>selectedSubscritpion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscriptionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>script_InvocableCreateSubUsersBulk</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Subscription</name>
        <label>Navigate to Subscription</label>
        <locationX>842</locationX>
        <locationY>2042</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Error_to_Chatter</name>
        <label>Post Error to Chatter</label>
        <locationX>1898</locationX>
        <locationY>2162</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tplChatterError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Subscription.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sync_to_Zephr</name>
        <label>Sync to Zephr</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <actionName>zephr_InvocableStartSubProvisioning</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_to_Subscription</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableStartSubProvisioning</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Confirmation_Message</name>
        <label>Set Confirmation Message</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Bulk_Subscription_Users.message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>displayResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_selectedSubscritpion</name>
        <label>Set Selected Subscritpion</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>selectedSubscritpion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Select</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bulk_Subscription_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_selectedSubscritpion_0</name>
        <label>Set Selected Subscritpion</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>selectedSubscritpion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Select_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bulk_Subscription_Users</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PreviousOrderChoice</name>
        <choiceText>Previous Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PreviousOrder</stringValue>
        </value>
    </choices>
    <choices>
        <name>TrialChoice</name>
        <choiceText>Trial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trial</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Renewal_Subscription</name>
        <label>Is Renewal Subscription?</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Please_select_type_of_subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription.Opportunity__r.Previous_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscriber_Management_System</name>
        <label>Subscriber Management System</label>
        <locationX>842</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Sync_to_Zephr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SRP_Auth0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription.Subscription_Management_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRP Auth0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Subscription</targetReference>
            </connector>
            <label>SRP Auth0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Subscription</name>
        <label>Type of Subscription?</label>
        <locationX>842</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trial_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subscription.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Suscription_0_0</targetReference>
            </connector>
            <label>Trial Valid</label>
        </rules>
        <rules>
            <name>Trial_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subscription.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Trial</targetReference>
            </connector>
            <label>Trial Invalid</label>
        </rules>
        <rules>
            <name>Previous_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PreviousOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subscription.Opportunity__r.Previous_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Suscription_0_0_0</targetReference>
            </connector>
            <label>Previous Valid</label>
        </rules>
        <rules>
            <name>Previous_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PreviousOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Subscription.Opportunity__r.Previous_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Previous</targetReference>
            </connector>
            <label>Previous Invalid</label>
        </rules>
    </decisions>
    <description>V23 - Updated to work for SRP (also needs invocable deploying)
V22

Added error handling

V20

Update the subscription choices to use the new Label field

V19

Changed the screen that prevented the flow from running on a renewal opportuinity so that it now runs but displays a warning.</description>
    <dynamicChoiceSets>
        <name>regularSubscriptions</name>
        <dataType>String</dataType>
        <displayField>Subscription_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription.Opportunity__r.Previous_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrialSubscriptions</name>
        <dataType>String</dataType>
        <displayField>Subscription_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </filters>
        <object>Subscription__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>trialEndDateFilter</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 10</expression>
    </formulas>
    <interviewLabel>Copy Subscribers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Subscribers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Renewal_Subscription</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Users_0</name>
        <label>Get Subscription Users</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_selectedSubscritpion</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_NG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_Select</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Subscription_User__c</object>
        <outputReference>oldSubscriptionUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Users_0_0</name>
        <label>Get Subscription Users</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_selectedSubscritpion_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_NG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_Select_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Subscription_User__c</object>
        <outputReference>oldSubscriptionUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <screens>
        <name>displayResult</name>
        <label>displayResult</label>
        <locationX>842</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Subscriber_Management_System</targetReference>
        </connector>
        <fields>
            <name>displayResults</name>
            <fieldText>&lt;p&gt;{!resultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1898</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p&gt;An error occurred when copying subscribers. Please report this error:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Previous</name>
        <label>Error Previous</label>
        <locationX>1370</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noPreviousOrder</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We were not able to locate a previous Order for this customer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Trial</name>
        <label>Error Trial</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noPreviousOrder_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We were not able to locate a trial for this customer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_type_of_subscriptions</name>
        <label>Please select type of subscriptions</label>
        <locationX>842</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_Subscription</targetReference>
        </connector>
        <fields>
            <name>Please_select_type_of_subscriptions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Please_select_type_of_subscriptions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectSourceHelp</name>
                    <fieldText>&lt;p&gt;Please select the source for the subscribers.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Source</name>
            <choiceReferences>TrialChoice</choiceReferences>
            <choiceReferences>PreviousOrderChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_select_type_of_subscriptions_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Please_select_type_of_subscriptions_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Please_select_type_of_subscriptions_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Renewal_Subscription</name>
        <label>Renewal Subscription</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Please_select_type_of_subscriptions</targetReference>
        </connector>
        <fields>
            <name>noPreviousOrder_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The copy subscribers button &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;should not&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; be used on a renewal opportunity as the subscription has already been transferred across.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you would like to proceed, click Continue below, otherwise, close this window with the X above.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Suscription_0_0</name>
        <label>Select Suscription</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Subscription_Users_0</targetReference>
        </connector>
        <fields>
            <name>Select_Suscription_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Suscription_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_Select</name>
                    <choiceReferences>TrialSubscriptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please Select Trial Subscription</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Suscription_0_0_0</name>
        <label>Select Suscription</label>
        <locationX>842</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Subscription_Users_0_0</targetReference>
        </connector>
        <fields>
            <name>Select_Suscription_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Suscription_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_Select_0</name>
                    <choiceReferences>regularSubscriptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please Select Previous Subscription</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscription</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tplChatterError</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An error occurred whilst copying subscribers:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>loadedSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>loopContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oldSubscriptionUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_User__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSubscritpion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscribersSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
