src/flows/Create_Lead_Record_from_Updated_LinkedIn_Contact_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Lead_Values</name>
        <label>Assign Lead Values</label>
        <locationX>522</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>recLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Details.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LinkedIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Company from LinkedIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Jonathan_Jessen_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Lead Record from Updated LinkedIn Contact Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Lead Record from Updated LinkedIn Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead_record</name>
        <label>Create Lead record</label>
        <locationX>673</locationX>
        <locationY>50</locationY>
        <inputReference>recLead</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets contact details from record where linkedin=not at company</description>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>214</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Jonathan_Jessen_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Jonathan_Jessen_ID</name>
        <label>Get Jonathan Jessen ID</label>
        <locationX>369</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Lead_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jonathan</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jessen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
