src/flows/Create_Group_Subscription.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Zephr_Model</name>
        <label>Create Zephr Model</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>zephr_InvocableCreateZephrSubModel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Retrieve_Provisioned_Subscription</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableCreateZephrSubModel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Insert_Zephr_Grants</name>
        <label>Insert Zephr Grants</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>zephr_InvocableCreateUserAccountGrants</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Provision_in_Zephr</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>users</name>
            <value>
                <elementReference>listSubscriptionUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscription</name>
            <value>
                <elementReference>Retrieve_Provisioned_Subscription</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableCreateUserAccountGrants</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Provision_in_Zephr</name>
        <label>Provision in Zephr</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <actionName>zephr_InvocableStartSubProvisioning</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>Retrieve_Provisioned_Subscription.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableStartSubProvisioning</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Subscription_User_to_List</name>
        <label>Add Subscription User to List</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>listSubscriptionUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewSubscriptionUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Zephr_Grants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Subscription</name>
        <label>Prepare Subscription</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varNewSubscription.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubscriptionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubscriptionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Number_of_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumberOfSeats</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Subscription_Management_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSubscriberManagementSystem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSubscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Subscription_User</name>
        <label>Prepare Subscription User</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varNewSubscriptionUser.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscriptionUser.Subscription_NG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSubscriptionUser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_ID_Provided</name>
        <label>Contact ID Provided?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Provision_in_Zephr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ContactId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V18 - Set Subscription Management System
V17 - Added SRP support</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaSubscriberManagementSystem</name>
        <dataType>String</dataType>
        <expression>&quot;Zephr&quot;</expression>
    </formulas>
    <interviewLabel>Create Group Subscription</interviewLabel>
    <label>Create Group Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Subscription_Opportunity</name>
        <label>Create Subscription Opportunity</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Zephr_Model</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSubscription</name>
        <label>CreateSubscription</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>CreateSubscriptionProduct</targetReference>
        </connector>
        <inputReference>varNewSubscription</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateSubscriptionProduct</name>
        <label>CreateSubscriptionProduct</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_Subscription_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSubscriptionUser</name>
        <label>CreateSubscriptionUser</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Add_Subscription_User_to_List</targetReference>
        </connector>
        <inputReference>varNewSubscriptionUser</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_Subscription_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Provisioned_Subscription</name>
        <label>Retrieve Provisioned Subscription</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_ID_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prepare_Subscription</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>listSubscriptionUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_User__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the date that the subscription will end</description>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varNewSubscriptionUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_User__c</objectType>
    </variables>
    <variables>
        <name>varNewZephrAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_Account__c</objectType>
    </variables>
    <variables>
        <name>varNumberOfSeats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Salesforce Product that we want to create the subscription for</description>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Holds the date that the subscription will start</description>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscriptionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Trial</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSubscriptionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </variables>
</Flow>
