src/flows/Create_Individual_Subscription.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Provision_Trial</name>
        <label>Provision Trial</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <actionName>zephr_InvocableStartSubProvisioning</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableStartSubProvisioning</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Prepare_Zephr_User_Record</name>
        <label>Prepare Zephr User Record</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varZephrUser.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct.Zephr_Tenant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewZephrUserFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Telephone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varJobTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Company_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompanyType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varZephrUser.Zephr_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Zephr_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Subscription_Parameters</name>
        <label>Set Contact Subscription Parameters</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varNewSubscription.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Subscription_Management_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSubscriberManagementSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Number_of_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetZephrUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Subscription_Parameters</name>
        <label>Set Lead Subscription Parameters</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varNewSubscription.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Subscription_Management_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSubscriberManagementSystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewSubscription.Number_of_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetZephrUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Zephr_Paramaters_Contact</name>
        <label>Set Zephr Paramaters (Contact)</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompanyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Company_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Subscription_Parameters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Zephr_Paramaters_Lead</name>
        <label>Set Zephr Paramaters (Lead)</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCompanyType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Company_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJobTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Lead_Subscription_Parameters</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_User</name>
        <label>Existing User?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Prepare_Zephr_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exiting_User_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varZephrUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Zephr_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Zephr_User</name>
        <label>Insert Zephr User?</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>CreateSubscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Insert_Zephr_User_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewZephrUserFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertZephrUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Type</name>
        <label>Object Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formObjectTypeFromId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formObjectTypeFromId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Remove references to Alerts Timezone

V28 - Bugfix
V27 - Bugfix
V26 - Bugfix
V25 - Bugfix
V24 - Set Subscription Parameters differently for Contact/Lead
V23 - Set Subscription User Start / End / Status
V22 - Set Subscriber Management System
V21 - Added SRP support
Creates an Individual Subscription</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlSubscriberStatus</name>
        <dataType>String</dataType>
        <expression>IF({!varStartDate} &lt;= TODAY() &amp;&amp; {!varEndDate} &gt;= TODAY(), &quot;Active&quot;, &quot;Inactive&quot;)</expression>
    </formulas>
    <formulas>
        <name>formObjectTypeFromId</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!varLeadOrContactId},3),&apos;003&apos;,&apos;Contact&apos;,&apos;00Q&apos;,&apos;Lead&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>formulaSubscriberManagementSystem</name>
        <dataType>String</dataType>
        <expression>&quot;Zephr&quot;</expression>
    </formulas>
    <interviewLabel>Create Individual Subscription</interviewLabel>
    <label>Create Individual Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSubscription</name>
        <label>CreateSubscription</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>CreateSubscriptionProduct</targetReference>
        </connector>
        <inputReference>varNewSubscription</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateSubscriptionProduct</name>
        <label>CreateSubscriptionProduct</label>
        <locationX>314</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>CreateSubscriptionUser</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSubscriptionUser</name>
        <label>CreateSubscriptionUser</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Insert_Zephr_User_Grant</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscriber_End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscriber_Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscriber_Status__c</field>
            <value>
                <elementReference>fmlSubscriberStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_NG__c</field>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Zephr_User_Grant</name>
        <label>Insert Zephr User Grant</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Provision_Trial</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_User__c</field>
            <value>
                <elementReference>CreateSubscriptionUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <elementReference>varNewSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_Integration_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_Tenant__c</field>
            <value>
                <elementReference>varProduct.Zephr_Tenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_User__c</field>
            <value>
                <elementReference>varZephrUser.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Zephr_User_Grant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InsertZephrUser</name>
        <label>InsertZephrUser</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>CreateSubscription</targetReference>
        </connector>
        <inputReference>varZephrUser</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Zephr_Paramaters_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadOrContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Zephr_Paramaters_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadOrContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetZephrUser</name>
        <label>GetZephrUser</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_User</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zephr_Tenant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProduct.Zephr_Tenant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zephr_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </filters>
        <object>Zephr_User__c</object>
        <outputReference>varZephrUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Zephr_Id__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAlertTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompanyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the date that the subscription will end</description>
        <name>varEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Lead or Contact Id that we should create the subscription for</description>
        <name>varIndividualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJobTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadOrContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varNewZephrUserFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Salesforce Product that we want to create the subscription for</description>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Holds the date that the subscription will start</description>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscriptionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Trial</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSubscriptionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </variables>
    <variables>
        <name>varZephrUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_User__c</objectType>
    </variables>
    <variables>
        <name>varZephrUserGrant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_User_Grant__c</objectType>
    </variables>
</Flow>
