src/flows/DDSSFOpportunityScore.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actionRefreshScreenApproval</name>
        <label>Refresh Screen for Approval</label>
        <locationX>1898</locationX>
        <locationY>1694</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordID.Id</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>actionRefreshScringScoring</name>
        <label>Refresh Screen for Scoring</label>
        <locationX>94</locationX>
        <locationY>1802</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recordID.Id</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ActionScoreApproval</name>
        <label>Action Score Approval</label>
        <locationX>1898</locationX>
        <locationY>1574</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>actionRefreshScreenApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>DDS_ScoreApprovalProcess</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>varApproverID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>inputTextPriceJustification</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>ApproverIdAssignment</name>
        <label>Approver Id Assignment</label>
        <locationX>1898</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varApproverID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordID.Owner.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePriceJustification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ApprovalProcessStatus</name>
        <label>ApprovalProcessStatus</label>
        <locationX>1909</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>InProgressScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress</defaultConnectorLabel>
        <rules>
            <name>NoApprovalProcess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordID.DDS_ApprovalProcessStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.DDS_ApprovalProcessStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.DDS_ApprovalProcessStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhatIsTheScore</targetReference>
            </connector>
            <label>No Approval Process / Rejected / Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsScoreAutoapproved</name>
        <label>Is Score Autoapproved</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>RemoveApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AorBnHVTnYoY</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varScoreAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varScoreAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varYoYunmetUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHVTunmetUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAutoApproval</targetReference>
            </connector>
            <label>A or B and HVT and YoY</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates the opportunity&apos; record type and current contract year to exclude those that are not Sales Opportunity or Renewal</description>
        <name>OpportunityInitialValidation</name>
        <label>Opportunity Initial Validation</label>
        <locationX>2563</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ScreenWrongRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsApplicableRT</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 )AND 5</conditionLogic>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal_Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity_Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.Current_Contract_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovalProcessStatus</targetReference>
            </connector>
            <label>Is an applicable RT</label>
        </rules>
        <rules>
            <name>Contract_Year_Validation</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>recordID.Current_Contract_Year__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal_Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity_Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenWrongContractYear</targetReference>
            </connector>
            <label>Contract Year Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecalculateScore</name>
        <label>Re calculate Score</label>
        <locationX>1128</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>ScoredARRValidation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Approval process</defaultConnectorLabel>
        <rules>
            <name>CalculateScoreButtonPressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>variableCalculateScoreButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDMLErrorMessages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScoreCalculated</targetReference>
            </connector>
            <label>Calculate score button pressed</label>
        </rules>
        <rules>
            <name>NoApproverSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>variableCalculateScoreButton</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoApproverScreen</targetReference>
            </connector>
            <label>No Approver Set</label>
        </rules>
        <rules>
            <name>DMLError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDMLErrorMessages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>DMLErrorScreen</targetReference>
            </connector>
            <label>DML Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>ScoredARRValidation</name>
        <label>Scored ARR Validation</label>
        <locationX>2162</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>ARRErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ARR_has_not_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentAverageARR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordID.DDS_ScoredARR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSubmitForApproval</targetReference>
            </connector>
            <label>ARR has not changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>SuccessScoreCalculated</name>
        <label>Success Score Calculated?</label>
        <locationX>94</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>IsScoreAutoapproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoValidScore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varScoreAssignment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateScoredARR</targetReference>
            </connector>
            <label>No Valid Score</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates the score value of the opportunity</description>
        <name>WhatIsTheScore</name>
        <label>What is the Score?</label>
        <locationX>1128</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>OpportunityInitialScore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ScoreValue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Score Value</label>
        </rules>
        <rules>
            <name>ScoreErrorAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ErrorAdmin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenErrorAdmin</targetReference>
            </connector>
            <label>Score Error Admin</label>
        </rules>
        <rules>
            <name>ScoreErrorInput</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ErrorInput</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenErrorInput</targetReference>
            </connector>
            <label>Score Error Input</label>
        </rules>
    </decisions>
    <description>Opportunity score full functionality</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_approvedARRisChanged</name>
        <dataType>Boolean</dataType>
        <expression>{!recordID.Total_ARR__c} &lt;&gt; {!recordID.DDS_ApprovedARR__c}</expression>
    </formulas>
    <formulas>
        <name>formulaARRAmountRequired</name>
        <dataType>Number</dataType>
        <expression>IF ( 
OR(
FLOOR(({!recordID.Contract_End_Date__c}- {!recordID.Contract_Start_Date__c})/365) &lt;= 1,
ISNULL({!recordID.Contract_End_Date__c}),
ISNULL({!recordID.Contract_Start_Date__c})
),
{!recordID.DDS_ScoreARRResidual__c}+({!recordID.DDS_ScoredARR__c}*{!getCurrencyRatio.ConversionRate}), 
({!recordID.DDS_ScoreARRResidual__c}+({!recordID.DDS_ScoredARR__c}*{!getCurrencyRatio.ConversionRate}) )*FLOOR(({!recordID.Contract_End_Date__c}- {!recordID.Contract_Start_Date__c})/365)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formulaARRInsightPercentage</name>
        <dataType>Number</dataType>
        <expression>{!recordID.DDS_ScoreInsightARRpercentage__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formulaARRResidual</name>
        <dataType>Number</dataType>
        <expression>VALUE({!varTextMaxARRLimit})*{!getCurrencyRatio.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formulaCASESAFEUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>Multi year ARR residual</description>
        <name>formulaContractARRResidual</name>
        <dataType>Number</dataType>
        <expression>{!recordID.DDS_ScoreARRResidual__c}*(FLOOR(({!recordID.Contract_End_Date__c}- {!recordID.Contract_Start_Date__c})/365))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formulaHideSubmitApproval</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!recordID.Current_Contract_Year__c}&gt;1 ,
TEXT({!recordID.DDS_ApprovalProcessStatus__c}) = &apos;Approved&apos;
)</expression>
    </formulas>
    <formulas>
        <description>Formula to filter displayed texts</description>
        <name>formulaMultiYearOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>IF (
AND(ISNULL({!recordID.Contract_End_Date__c}),ISNULL({!recordID.Contract_Start_Date__c})), false, 
IF(
FLOOR(({!recordID.Contract_End_Date__c}- {!recordID.Contract_Start_Date__c})/365)&gt;1, TRUE, FALSE))</expression>
    </formulas>
    <formulas>
        <name>NewDDS_PriceJustification</name>
        <dataType>String</dataType>
        <expression>LEFT({!inputTextPriceJustification}, 255)</expression>
    </formulas>
    <interviewLabel>DDS_SF_Opportunity Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DDS-SF Opportunity Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrencyRatio</name>
        <label>get Currency ratio</label>
        <locationX>2563</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityInitialValidation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the latest opportunity updates before submitting for approval</description>
        <name>getOpportunity</name>
        <label>get Opportunity</label>
        <locationX>1128</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecalculateScore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varCurrentAverageARR</assignToReference>
            <field>AverageTotalARR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varHVTunmetUpdated</assignToReference>
            <field>HVT_Increase_Unmet__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varYoYunmetUpdated</assignToReference>
            <field>YoY_Target_Unmet__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>RemoveApproval</name>
        <label>Remove approval stage</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>UpdateScoredARR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DMLErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DDS_ApprovalProcessStatus__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DDS_ApprovedARR__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DDS_ApprovedScore__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAutoApproval</name>
        <label>Update Auto Approval</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>UpdateScoredARR</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DMLErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DDS_ApprovalProcessStatus__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DDS_ApprovedARR__c</field>
            <value>
                <elementReference>varTotalARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DDS_ApprovedScore__c</field>
            <value>
                <elementReference>varScoreAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePriceJustification</name>
        <label>Update Price Justification</label>
        <locationX>1898</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>ActionScoreApproval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DMLErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DDS_PriceJustification__c</field>
            <value>
                <elementReference>NewDDS_PriceJustification</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateScoredARR</name>
        <label>Update Scored ARR</label>
        <locationX>94</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>actionRefreshScringScoring</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DMLErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DDS_ScoreARRResidual__c</field>
            <value>
                <elementReference>formulaARRResidual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DDS_ScoredARR__c</field>
            <value>
                <elementReference>varTotalARR</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ARRErrorScreen</name>
        <label>ARR Error Screen</label>
        <locationX>2426</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>display_ARRErrorTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(186, 49, 41); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Opportunity Score - Recalculation needed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_display_ownErerror</name>
            <fieldText>&lt;p&gt;The opportunity scored condition has changed. Go back an calculate the score again before submitting for approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DMLErrorScreen</name>
        <label>DML Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <fields>
            <name>Screen_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error when trying to update the opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayDMLError</name>
            <fieldText>&lt;p&gt;{!varDMLErrorMessages}&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InProgressScreen</name>
        <label>In progress screen</label>
        <locationX>2690</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InProgressScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InProgressScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InProgressScreenTitle2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Opportunity Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InProgressScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>InProgressScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InProgressScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_Copy_1_of_OpportunityScoreIcon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ScoringIcons/GS_Icons_.png</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>display_inProgress</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(239, 152, 78);&quot;&gt;Approval In progress&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InProgress_Image_A_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>A</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_A</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_Image_B_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>B</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_B</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>B</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_Image_C_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_C</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>C</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>C</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_Image_D_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_D</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>D</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>D</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_Image_F_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_F</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>F</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>F</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InProgressScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InProgress_displayTextScoreMessageInstructions</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please, review the obtained scoring. Here are the reasons for the scoring result:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InProgress_displayTextScoreMessage</name>
                    <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;{!recordID.DDS_ScoreInsight__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InProgress_displayInsightNewLogo</name>
                    <fieldText>&lt;p&gt;{!newLogoInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Sales_Opportunity</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_displayRenewalTextInsight</name>
                    <fieldText>&lt;p&gt;{!renewalInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.RecordType.Name</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Renewal</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Existing_Business</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_displayMultiYearInsoght</name>
                    <fieldText>&lt;p&gt;{!MultiYearInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_displayYoYInsight</name>
                    <fieldText>&lt;p&gt;{!YoYunmetInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.YoY_Target_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>InProgress_displayHVTInsight</name>
                    <fieldText>&lt;p&gt;{!HVTunmetInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayHVTmultiyear</name>
                    <fieldText>&lt;p&gt;{!HVTunmetMultiYearTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.YoY_Target_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayHVTandYoYinsight</name>
                    <fieldText>&lt;p&gt;{!YoYandHVTunmetInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.YoY_Target_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoApproverScreen</name>
        <label>No approver screen</label>
        <locationX>1370</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>NoApproverTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;img src=&quot;https://greenstreetadvisors--mckinsey.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0687c000001YbKq?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;warning_60.png&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No approver found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_NoApprover</name>
            <fieldText>&lt;p&gt;There is no manager found in the opportunity&apos; owner information who can approve the score. Ask you administrator to assign a manager before submitting for approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpportunityInitialScore</name>
        <label>Opportunity Initial Score</label>
        <locationX>1524</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <fields>
            <name>textInitialTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Opportunity Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityInitialScore_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OpportunityInitialScore_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CalculateScore</name>
                    <extensionName>c:ddsCalculateScoreButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Calculate Score</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>approvalLabel</name>
                        <value>
                            <stringValue>Submit for approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hiddenApprovalButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>variableCalculateScoreButton</assignToReference>
                        <name>buttonPressed</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varTextMaxARRLimit</assignToReference>
                        <name>absoluteARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varScoreAssignment</assignToReference>
                        <name>scoreLetter</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varTotalARR</assignToReference>
                        <name>totalARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varDMLErrorMessages</assignToReference>
                        <name>dmlError</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.IsClosed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OpportunityInitialScore_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorAdmin</name>
        <label>Screen Error Admin</label>
        <locationX>996</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <fields>
            <name>titleUnableToCalculateScore</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(186, 49, 41);&quot;&gt;Unable to Calculate the Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(186, 49, 41);&quot;&gt;It was not possible to calculate the score. Contact with your administrator to get support.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenErrorAdmin_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenErrorAdmin_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ddsErrorReCalculation_ErrorAdmin</name>
                    <extensionName>c:ddsCalculateScoreButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Calculate Score</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>approvalLabel</name>
                        <value>
                            <stringValue>Submit for approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hiddenApprovalButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varTextMaxARRLimit</assignToReference>
                        <name>absoluteARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>variableCalculateScoreButton</assignToReference>
                        <name>buttonPressed</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varScoreAssignment</assignToReference>
                        <name>scoreLetter</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varTotalARR</assignToReference>
                        <name>totalARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varDMLErrorMessages</assignToReference>
                        <name>dmlError</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.IsClosed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenErrorAdmin_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorInput</name>
        <label>Screen Error Input</label>
        <locationX>1260</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <fields>
            <name>displayTextTitleMissingFields</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(186, 49, 41); font-size: 16px;&quot;&gt;Unable to Calculate the Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textMissingFields</name>
            <fieldText>&lt;p&gt;Please, validate the following information to score the opportunity:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textMissingInput</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;{!recordID.DDS_ScoreInsight__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenErrorInput_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenErrorInput_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ddsErrorReCalculation</name>
                    <extensionName>c:ddsCalculateScoreButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Calculate Score</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>approvalLabel</name>
                        <value>
                            <stringValue>Submit for approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hiddenApprovalButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varTextMaxARRLimit</assignToReference>
                        <name>absoluteARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varScoreAssignment</assignToReference>
                        <name>scoreLetter</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>variableCalculateScoreButton</assignToReference>
                        <name>buttonPressed</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varTotalARR</assignToReference>
                        <name>totalARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varDMLErrorMessages</assignToReference>
                        <name>dmlError</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.IsClosed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenErrorInput_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSubmitForApproval</name>
        <label>Submit for Approval</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <connector>
            <targetReference>ApproverIdAssignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ScreenTitle1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Opportunity Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>approvalSuccessText</name>
            <fieldText>&lt;p&gt;Before submitting the opportunity for approval, provide a brief justification for the ARR proposed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputTextPriceJustification</name>
            <fieldText>Price justification (max 500 characters)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The input text has exceeded the maximum length of 500 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!inputTextPriceJustification})&lt;501</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>displayTextApproverAssigned</name>
            <fieldText>&lt;p&gt;Assigned approver: &lt;strong&gt;{!recordID.Owner.Manager.FirstName} &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordID.Owner.Manager.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenWrongContractYear</name>
        <label>Screen Wrong Contract Year</label>
        <locationX>2954</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textTitleWrongContractYear</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textWrongContractYearMessage</name>
            <fieldText>&lt;p&gt;The current contract year is not suitable to get a score.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenWrongRecordType</name>
        <label>Screen Wrong Record Type</label>
        <locationX>3218</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textTitleWrongRT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Opportunity Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textWrongRTexp</name>
            <fieldText>&lt;p&gt;The current  record type is not suitable to get a score.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>732</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <fields>
            <name>SuccessScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SuccessScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_2_of_ScreenTitle2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Opportunity Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SuccessScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ddsErrorReCalculation_SuccessScore</name>
                    <extensionName>c:ddsCalculateScoreButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Calculate Score</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordID.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>approvalLabel</name>
                        <value>
                            <stringValue>Submit for approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hiddenApprovalButton</name>
                        <value>
                            <elementReference>formulaHideSubmitApproval</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>variableCalculateScoreButton</assignToReference>
                        <name>buttonPressed</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varScoreAssignment</assignToReference>
                        <name>scoreLetter</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varTextMaxARRLimit</assignToReference>
                        <name>absoluteARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varTotalARR</assignToReference>
                        <name>totalARR</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varDMLErrorMessages</assignToReference>
                        <name>dmlError</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.IsClosed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SuccessScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SuccessScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_OpportunityScoreIcon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ScoringIcons/GS_Icons_.png</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>display_Rejected</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Approval Status:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(215, 46, 45);&quot;&gt;Rejected&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ApprovalProcessStatus__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rejected</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_Approved</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Approval Status:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(71, 130, 80); background-color: rgb(255, 255, 255);&quot;&gt;Approved&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ApprovalProcessStatus__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Approved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Image_A_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_A</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>A</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Image_B_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_B</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>B</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>B</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Image_C_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_C</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>C</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>C</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Image_D_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_D</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>D</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>D</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Image_F_Icon</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>DDS_Display_Icons_F</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>F</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>213</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>F</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SuccessScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayTextScoreMessageInstructions</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please, review the obtained scoring. Here are the reasons for the scoring result:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayTextScoreMessage</name>
                    <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;strong&gt;{!recordID.DDS_ScoreInsight__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayInsightNewLogo</name>
                    <fieldText>&lt;p&gt;{!newLogoInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Sales_Opportunity</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayRenewalTextInsight</name>
                    <fieldText>&lt;p&gt;{!renewalInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.RecordType.Name</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Renewal</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Existing_Business</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayMultiYearInsoght</name>
                    <fieldText>&lt;p&gt;{!MultiYearInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.DDS_ScoreAssignment__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>A</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayYoYInsight</name>
                    <fieldText>&lt;p&gt;{!YoYunmetInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.YoY_Target_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayHTVInsight</name>
                    <fieldText>&lt;p&gt;{!HVTunmetInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_HVTunmetMY</name>
                    <fieldText>&lt;p&gt;{!HVTunmetMultiYearTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.YoY_Target_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_HVTandYoYunmet</name>
                    <fieldText>&lt;p&gt;{!YoYandHVTunmetInsightTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.HVT_Increase_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.YoY_Target_Unmet__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>formulaMultiYearOpportunity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>displayTextRequestforApproval</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you are happy with the current score result, &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;submit for approval&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaHideSubmitApproval</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_NoApprovalText</name>
                    <fieldText>&lt;p&gt;Given the current contract year, this score does not require additional approval&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>formulaHideSubmitApproval</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>recordID.DDS_ApprovalProcessStatus__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Approved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>display_ApprovedText</name>
                    <fieldText>&lt;p&gt;Your opportunity is approved. You may send the proposal to the customer.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordID.DDS_ApprovalProcessStatus__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Approved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2437</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrencyRatio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HVTunmetInsightTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u&gt;About the High Value Account:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;You haven&apos;t met the target growth rate of &lt;strong&gt;{!recordID.High_Value_Target__c}%&lt;/strong&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>HVTunmetMultiYearTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u&gt;About the High Value Account:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;You haven&apos;t met the target growth rate for this multi-year deal&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Renewal, new log and upsell multi-year insight template</description>
        <name>MultiYearInsightTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;To improve the score by one grade, increase this opportunity by the below:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Average ARR increase per Year = &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordID.CurrencyIsoCode} {!recordID.DDS_ScoreARRResidual__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Total Contract Value = &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordID.CurrencyIsoCode}&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!formulaARRAmountRequired} &lt;/strong&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;(additional &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordID.CurrencyIsoCode} {!formulaContractARRResidual}&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>newLogoInsightTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;To improve the score by one grade, increase this opportunity by the below:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Total ARR of &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordID.CurrencyIsoCode} {!formulaARRAmountRequired} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(additional {!recordID.CurrencyIsoCode} {!recordID.DDS_ScoreARRResidual__c})&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>renewalInsightTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;To improve the score by one grade, increase this opportunity by the below:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Total YoY increase = &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!formulaARRInsightPercentage}% &lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Total ARR = &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recordID.CurrencyIsoCode} {!formulaARRAmountRequired} &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(additional {!recordID.CurrencyIsoCode} {!recordID.DDS_ScoreARRResidual__c}).&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>YoYandHVTunmetInsightTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u&gt;About the multi-year deal:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;{!recordID.Unmet_Deal_Insights__c} did not meet the minimum YoY growth rate of {!recordID.Required_Increase__c}%.&lt;/p&gt;&lt;p&gt;You also haven&apos;t met the target growth rate for the length of this.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>YoYunmetInsightTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u&gt;About the YoY% increase:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recordID.Unmet_Deal_Insights__c} &lt;/span&gt;did not meet the minimum YoY growth rate of {!recordID.Required_Increase__c}%.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varApproverID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the current ARR average to validate it before submittinfg for approval</description>
        <name>varCurrentAverageARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDMLErrorMessages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHVTunmetUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableCalculateScoreButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varScoreAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextMaxARRLimit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalARR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYoYunmetUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
