src/flows/Extend_Subscription.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Error_to_Chatter</name>
        <label>Post Error to Chatter</label>
        <locationX>1634</locationX>
        <locationY>1454</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>scr_Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>postErrorText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Start_Zephr_Provisioning</name>
        <label>Start Zephr Provisioning</label>
        <locationX>314</locationX>
        <locationY>1346</locationY>
        <actionName>zephr_InvocableStartSubProvisioning</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>subscriptionIds</name>
            <value>
                <elementReference>newSubscriptionProduct.Subscription__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableStartSubProvisioning</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Subscription_Product</name>
        <label>Assign Subscription Product</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>newSubscriptionProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionProduct.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionProduct.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionProduct.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSubscriptionProduct.Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Subscription_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zephr</name>
        <label>Assign Zephr User Grant</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Subscription_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__r.Order_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Zephr_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Zephr_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Product__r.Zephr_Tenant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrUserGrant.Zephr_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zephr_User.Zephr_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Zephr_User_Grant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Zephr_Account_Grant</name>
        <label>Assign Zephr Account Grant</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.Zephr_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__r.Zephr_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__r.Order_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.Subscription_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSubscriptionProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.Zephr_Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newZephrAccountGrant.Zephr_Tenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Product.Product__r.Zephr_Tenant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Zephr_Account_Grant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Subscription_Type</name>
        <label>Subscription Type?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Subscription_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Individual</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Product.Subscription__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Zephr_Account_Grant</targetReference>
            </connector>
            <label>Group</label>
        </rules>
    </decisions>
    <description>V12 - Added SRP Pending status update

Removed action to sync to SRP
Added feature to flag new subscription products as extensions
Updated to handle SRP
Updated validation error to reflect maximum duration correctly
Added the ability to configure the maximum extension per product
Extends a Subscription Product linked to a Subscription</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaMaxExtensionDays</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Subscription_Product.Product__r.Max_Extension_Days__c} &gt; 0,{!Get_Subscription_Product.Product__r.Max_Extension_Days__c},14)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculates the new end date of the extension</description>
        <name>formulaNewEndDate</name>
        <dataType>Date</dataType>
        <expression>{!formulaNewStartDate} + {!Extension_Duration_Days} -1</expression>
    </formulas>
    <formulas>
        <description>Calculates the start date of the extension. It should be the later of Today, or the current End Date</description>
        <name>formulaNewStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Get_Subscription_Product.End_Date__c} &gt;= TODAY(), {!Get_Subscription_Product.End_Date__c}+1, TODAY())</expression>
    </formulas>
    <interviewLabel>Extend Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extend Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Subscription_Product</name>
        <label>Create Subscription Product</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Subscription_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <inputReference>newSubscriptionProduct</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Zephr_Account_Grant</name>
        <label>Create Zephr Account Grant</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Subscriber_End_Dates</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <inputReference>newZephrAccountGrant</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Zephr_User_Grant</name>
        <label>Create Zephr User Grant</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Subscriber_End_Dates</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <inputReference>newZephrUserGrant</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Subscription_Product</name>
        <label>Get Subscription Product</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Extension_Duration</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Needed in order to insert the Zephr User Grant</description>
        <name>Get_Subscription_User</name>
        <label>Get Subscription User</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Zephr_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_NG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zephr_User</name>
        <label>Get Zephr User</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Zephr</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zephr_User_Grant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>1634</locationX>
        <locationY>1670</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Subscriber_End_Dates</name>
        <label>Update Subscriber End Dates</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Start_Zephr_Provisioning</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error_to_Chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_NG__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Product.Subscription__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscriber_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Product.End_Date__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subscriber_End_Date__c</field>
            <value>
                <elementReference>formulaNewEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_User__c</object>
    </recordUpdates>
    <screens>
        <name>scr_Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1634</locationX>
        <locationY>1562</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rollback</targetReference>
        </connector>
        <fields>
            <name>txtErrorMessage</name>
            <fieldText>&lt;p&gt;An error occurred when extending the subscription dates. Please report the following error:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Extension_Duration</name>
        <label>Select Extension Duration</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Subscription_Product</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;The extension will take effect from the current end date, or from today, if the subscription has already ended.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extension_Duration_Days</name>
            <dataType>Number</dataType>
            <fieldText>Extension Duration (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the number of days to extend the subscription.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;You can only extend a subscription by 1-{!formulaMaxExtensionDays} days.&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Extension_Duration_Days} &gt;= 1) &amp;&amp;({!Extension_Duration_Days} &lt;= {!formulaMaxExtensionDays})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscription_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>postErrorText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An error occurred in the Extend Subscription flow:
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>newSubscriptionProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Product__c</objectType>
    </variables>
    <variables>
        <name>newZephrAccountGrant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_Account_Grant__c</objectType>
    </variables>
    <variables>
        <name>newZephrUserGrant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zephr_User_Grant__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
