src/flows/FPS_Scheduled_Subscription_Users_Activate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Subscription_List</name>
        <label>Add to Subscription List</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>listSubscriptionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listSubscriptionIDsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Subscription_Users.Subscription_NG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscription_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Properties</name>
        <label>Set Subscription Properties</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Subscription_Users.Subscription_NG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionToUpdate.Trigger_Subscriber_Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Subscription_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Added_Subscription</name>
        <label>Already Added Subscription?</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Set_Subscription_Properties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listSubscriptionIDsToUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Subscription_Users.Subscription_NG__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Subscription_Users</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Activates Subscription Users on their Subscriber Start Date. We just set a field on the Subscription in this flow. Then we have a record-triggered flow on the Subscription to actually activate and sync the users. This is because scheduled flows can&apos;t execute callouts, and it runs the record triggered flow once per subscription which simplifies the logic.</description>
    <environments>Default</environments>
    <interviewLabel>FPS - Scheduled - Subscription Users - Activate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FPS - Scheduled - Subscription Users - Activate</label>
    <loops>
        <name>Loop_Subscription_Users</name>
        <label>Loop Subscription Users</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Subscription_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_Added_Subscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subscription_Users</name>
        <label>Get Subscription Users</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Subscription_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_User__c</object>
        <sortField>Subscription_NG__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscriptions</name>
        <label>Update Subscriptions</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <inputReference>listSubscriptionsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscription_Users</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-07</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listSubscriptionIDsToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listSubscriptionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
</Flow>
