src/flows/Lead_Tracking_Automation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <description>EU SDR Inbound Lead Queue</description>
        <name>EU_SDR_Inbound_Queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G6s000002FLtS</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G</stringValue>
        </value>
    </constants>
    <constants>
        <description>US SDR Inbound Lead Queue</description>
        <name>US_SDR_Inbound_Queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G6s000002FM11</stringValue>
        </value>
    </constants>
    <constants>
        <name>UserIDInitial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>874</locationX>
        <locationY>411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GSA_Relationship</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Lead Converted?</label>
        </rules>
        <rules>
            <name>Qualified_or_Disqualified_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Qualified_Date_and_Qualifying_Team</targetReference>
            </connector>
            <label>Qualified or Disqualified Lead</label>
        </rules>
        <rules>
            <name>Removed_from_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>UserIDInitial</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_Team_and_Date</targetReference>
            </connector>
            <label>Removed from Queue</label>
        </rules>
    </decisions>
    <description>SF-546: Added Qualifying Team Update
Added Assignment Team</description>
    <environments>Default</environments>
    <interviewLabel>Lead Tracking Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Tracking Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Assigned_Team_and_Date</name>
        <label>Update Assigned Team and Date</label>
        <locationX>883</locationX>
        <locationY>594</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Team__c</field>
            <value>
                <elementReference>$User.Sales_Team__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GSA_Relationship</name>
        <label>Update GSA Relationship</label>
        <locationX>579</locationX>
        <locationY>413</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.GS_Relationship__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Qualified_Date_and_Qualifying_Team</name>
        <label>Update Qualified Date and Qualifying Team</label>
        <locationX>1145</locationX>
        <locationY>396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Qualified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifying_Team__c</field>
            <value>
                <elementReference>$User.Sales_Team__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
