src/flows/New_Inbound_Lead_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Cognism</name>
        <choiceText>Cognism</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cognism</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConferenceEvent</name>
        <choiceText>Conference/Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conference/Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>DemoRequest</name>
        <choiceText>Demo Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>DigitalCampaign</name>
        <choiceText>Digital Campaign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Digital Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>GreenStreetEvent</name>
        <choiceText>Green Street Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green Street Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>IndustryMarketingEvent</name>
        <choiceText>Industry Marketing Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industry Marketing Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inquiry</name>
        <choiceText>Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>LinkedIn</name>
        <choiceText>LinkedIn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LinkedIn</stringValue>
        </value>
    </choices>
    <choices>
        <name>MarketingQualified</name>
        <choiceText>Marketing Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewAlertTrial</name>
        <choiceText>New Alert Trial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Alert Trial</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewsSubscriptionRequest</name>
        <choiceText>News Subscription Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>News Subscription Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaidAcquisition</name>
        <choiceText>Paid Acquisition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid Acquisition</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProactiveOutreach</name>
        <choiceText>Proactive Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proactive Outreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReactUSNews</name>
        <choiceText>React and US News Ecomm Inquiries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>React &amp; US News Ecomm Inquiries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Referral</name>
        <choiceText>Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportRequest</name>
        <choiceText>Report Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Report Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>SlideRequest</name>
        <choiceText>Slide Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slide Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>TargetedCampaign</name>
        <choiceText>Targeted Campaign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Targeted Campaign</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpsellOpportunity</name>
        <choiceText>Upsell Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>VirtualEvent</name>
        <choiceText>Virtual Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtual Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Zoominfo</name>
        <choiceText>Zoominfo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Zoominfo</stringValue>
        </value>
    </choices>
    <constants>
        <name>marketingRecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012f4000000zq3xAAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Owner_Assignment_Decision</name>
        <label>Owner Assignment Decision</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US_Identified_Country</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Marketing_Identified_Country_contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.Marketing_Identified_Country_contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_US_SDR_Queue</targetReference>
            </connector>
            <label>US Identified Country</label>
        </rules>
        <rules>
            <name>Non_US_Identified_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Marketing_Identified_Country_contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_EU_SDR_Queue</targetReference>
            </connector>
            <label>Non US Identified Country</label>
        </rules>
    </decisions>
    <description>SF-584
SF-591</description>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Inbound Lead Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Inbound Lead Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>leadRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Owner_Assignment_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_Contact_Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Contact_Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Contact_Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GS_Relationship__c</field>
            <value>
                <elementReference>Get_Contact_Record.Account.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Contact_Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Identified_Country_lead__c</field>
            <value>
                <elementReference>Get_Contact_Record.Marketing_Identified_Country_contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>marketingRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Get_Contact_Record.Title</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadLookUp.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_EU_SDR_Queue</name>
        <label>Update to EU SDR Queue</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.EU_SDR_Inbound_Queue</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_US_SDR_Queue</name>
        <label>Update to US SDR Queue</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.US_SDR_Inbound_Queue</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>New_Inbound_Lead</name>
        <label>New Inbound Lead</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>LeadLookUp</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Lead_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lead_Source</name>
            <choiceReferences>Inquiry</choiceReferences>
            <choiceReferences>DemoRequest</choiceReferences>
            <choiceReferences>MarketingQualified</choiceReferences>
            <choiceReferences>SlideRequest</choiceReferences>
            <choiceReferences>ReactUSNews</choiceReferences>
            <choiceReferences>VirtualEvent</choiceReferences>
            <choiceReferences>GreenStreetEvent</choiceReferences>
            <choiceReferences>IndustryMarketingEvent</choiceReferences>
            <choiceReferences>ReportRequest</choiceReferences>
            <choiceReferences>PaidAcquisition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Inbound lead was created for &lt;strong&gt;{!Get_Contact_Record.FirstName} {!Get_Contact_Record.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Inbound_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>leadRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
