src/flows/NextGen_Force_Subscription_Seats_Sync.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Force_Update_Of_Zephr_Account</name>
        <label>Force Update Of Zephr Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>zephr_InvocableAccountUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Zephr_Account_Status</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>account_id</name>
            <value>
                <elementReference>Load_Subscription_Details.Zephr_Account__r.Zephr_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company_id</name>
            <value>
                <elementReference>Load_Subscription_Details.Zephr_Account__r.Zephr_Company__r.Zephr_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Load_Subscription_Details.Zephr_Account__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>number_of_seats</name>
            <value>
                <elementReference>Load_Subscription_Details.Number_of_Seats__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tenantId</name>
            <value>
                <elementReference>Load_Subscription_Details.Zephr_Account__r.Zephr_Tenant__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableAccountUpdate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Seats_on_The_Account</name>
        <label>Check Seats on The Account</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Zephr_Account_Seats</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Seats Different</defaultConnectorLabel>
        <rules>
            <name>Seats_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Subscription_Details.Zephr_Account__r.Number_of_Seats__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Load_Subscription_Details.Number_of_Seats__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_Update_Of_Zephr_Account</targetReference>
            </connector>
            <label>Seats Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Has_Permissions</name>
        <label>User Has Permissions?</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>No_Permission_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Permissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Force_Subscription_Seats_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Subscription_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zephr_Account_Synced_or_Error</name>
        <label>Zephr Account Synced or Error?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Force_Sync_not_Allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ZA</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Load_Subscription_Details.Zephr_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Load_Subscription_Details.Zephr_Account__r.Zephr_Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Synced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Load_Subscription_Details.Zephr_Account__r.Zephr_Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_Seats_Update_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Forces the updates on the Zephr Account Number of Seats.</description>
    <formulas>
        <name>formulaZephrIntegrationStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Force_Update_Of_Zephr_Account.success}, &apos;Synced&apos;, &apos;Error&apos;)</expression>
    </formulas>
    <interviewLabel>NextGen - Force Subscription Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NextGen - Force Subscription Seats Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Load_Subscription_Details</name>
        <label>Load Subscription Details</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Zephr_Account_Synced_or_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Zephr_Account_Details</name>
        <label>Load Zephr Account Details</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Force_Sync_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Load_Subscription_Details.Zephr_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zephr_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Zephr_Account_Seats</name>
        <label>Update Zephr Account Seats</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Load_Zephr_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Load_Subscription_Details.Zephr_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Seats__c</field>
            <value>
                <elementReference>Load_Subscription_Details.Number_of_Seats__c</elementReference>
            </value>
        </inputAssignments>
        <object>Zephr_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Zephr_Account_Status</name>
        <label>Update Zephr Account Status</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Load_Zephr_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Load_Subscription_Details.Zephr_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Zephr_Integration_Message__c</field>
            <value>
                <elementReference>Force_Update_Of_Zephr_Account.message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_Integration_Status__c</field>
            <value>
                <elementReference>formulaZephrIntegrationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Zephr_Account__c</object>
    </recordUpdates>
    <screens>
        <name>Force_Seats_Update_Confirmation</name>
        <label>Force Seats Update Confirmation</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_Seats_on_The_Account</targetReference>
        </connector>
        <fields>
            <name>confirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Are you sure you want to update the Number of Seats in Zephr?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Force_Sync_not_Allowed</name>
        <label>Force Sync not Allowed</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmationMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The Zephr Account associated with the subscription is in {!Load_Subscription_Details.Zephr_Account__r.Zephr_Integration_Status__c} status and the Force Sync is not allowed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Force_Sync_Status</name>
        <label>Force Sync Status</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>forceSyncStatusMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Force Sync operation has completed with the status of &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Load_Zephr_Account_Details.Zephr_Integration_Status__c}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permission_Screen</name>
        <label>No Permission Screen</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noPermissionsMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You don&apos;t have the necessary permissions to Force Update the number of Seats.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Has_Permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
