src/flows/NextGen_Sync_Zephr_Account_Changes.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Number_of_Seats_in_Zephr</name>
        <label>Update Number of Seats in Zephr</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>zephr_InvocableAccountUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Zephr_Integration_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_With_Error_Status</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account_id</name>
            <value>
                <elementReference>$Record.Zephr_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>company_id</name>
            <value>
                <elementReference>$Record.Zephr_Company__r.Zephr_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>number_of_seats</name>
            <value>
                <elementReference>$Record.Number_of_Seats__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tenantId</name>
            <value>
                <elementReference>$Record.Zephr_Tenant__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zephr_InvocableAccountUpdate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <formulas>
        <name>formulaZephrIntegrationStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Update_Number_of_Seats_in_Zephr.success}, &apos;Synced&apos;, &apos;Error&apos;)</expression>
    </formulas>
    <interviewLabel>NextGen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NextGen - Sync Zephr Account Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Zephr_Integration_Status</name>
        <label>Set Zephr Integration Status</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Zephr_Integration_Message__c</field>
            <value>
                <elementReference>Update_Number_of_Seats_in_Zephr.message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_Integration_Status__c</field>
            <value>
                <elementReference>formulaZephrIntegrationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_With_Error_Status</name>
        <label>Update With Error Status</label>
        <locationX>572</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Zephr_Integration_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zephr_Integration_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Number_of_Seats__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Integration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Synced</stringValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Integration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <object>Zephr_Account__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Update_Number_of_Seats_in_Zephr</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
