src/flows/Opportunity_Update_Advertising_Advisory_Names.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Advertising_Closed_Record_Type</name>
        <label>Update Advertising Closed Record Type</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AdvertisingRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advertising_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Advertising_Record_Type</name>
        <label>Update Advertising Record Type</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AdvertisingRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Advertising_Closed_Opportunity</name>
        <label>Is Advertising Closed Opportunity?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Advertising_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Advertising_Closed_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Advertising_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Advertising_Closed_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type_Decision</name>
        <label>Opportunity Record Type Decision</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertising_Oppty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising_Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Advertising_Oppty_Name</targetReference>
            </connector>
            <label>Advertising Oppty</label>
        </rules>
        <rules>
            <name>Advisory_Oppty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory_Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Advisory_Oppty_Name</targetReference>
            </connector>
            <label>Advisory Oppty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Advertising_Opp_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Advertising&quot; &amp; &quot; &quot;&amp; &quot;-&quot; &amp; &quot; &quot; &amp; {!$Record.Account.Name} &amp; &quot; &quot; &amp; {!$Record.Renewal_Month__c} &amp; &quot; &quot; &amp; {!$Record.Renewal_Year__c}</expression>
    </formulas>
    <formulas>
        <name>Advisory_Opp_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Advisory&quot; &amp; &quot; &quot;&amp; &quot;-&quot; &amp; &quot; &quot; &amp; {!$Record.Account.Name} &amp; &quot; &quot; &amp; {!$Record.Renewal_Month__c} &amp; &quot; &quot; &amp; {!$Record.Renewal_Year__c}</expression>
    </formulas>
    <interviewLabel>Opportunity - Update Advertising / Advisory Names {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Advertising / Advisory Names</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Advertising_Record_Type</name>
        <label>Advertising Record Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Advertising_Closed_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advertising_Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Advertising_Oppty_Name</name>
        <label>Update Advertising Oppty Name</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Advertising_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AdvertisingRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Advisory_Oppty_Name</name>
        <label>Update Advisory Oppty Name</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Advisory_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Advertising_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdvertisingRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>