src/flows/Opportunity_Product_Billing_Schedule_Sales_Type_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Billing_Schedule_Criteria</name>
        <label>Billing Schedule Criteria</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Opp_NOT_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Upsell_Cross_sell__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Record_Type_for_Query__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Sales_Type</targetReference>
            </connector>
            <label>Sales Opp NOT Upsell</label>
        </rules>
        <rules>
            <name>Sales_Opp_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Upsell_Cross_sell__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Record_Type_for_Query__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Upsell_Sales_Type</targetReference>
            </connector>
            <label>Sales Opp - Upsell</label>
        </rules>
        <rules>
            <name>Renewal_NOT_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Upsell_Cross_sell__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Record_Type_for_Query__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Sales_Type</targetReference>
            </connector>
            <label>Renewal NOT Upsell</label>
        </rules>
        <rules>
            <name>Renewal_Upsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Upsell_Cross_sell__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Record_Type_for_Query__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Upsell</targetReference>
            </connector>
            <label>Renewal Upsell</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Product - Billing Schedule / Sales Type Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Billing Schedule / Sales Type Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_New_Sales_Type</name>
        <label>Update New Sales Type</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Sales_Type</name>
        <label>Update Renewal Sales Type</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Upsell</name>
        <label>Update Renewal Upsell</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Upsell_Sales_Type</name>
        <label>Update Upsell Sales Type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Billing_Schedule_Criteria</targetReference>
        </connector>
        <filterFormula>OR(
{!$Record.Opportunity.RecordType.DeveloperName} = &apos;Sales_Opportunity&apos;,
{!$Record.Opportunity.RecordType.DeveloperName} =&apos;Existing_Business&apos;
)</filterFormula>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
