src/flows/Relationship_Intelligence_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>BuyingProcessChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Buying_Process__c</picklistField>
        <picklistObject>Relationship_Intelligence__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Relationship Intelligence Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relationship Intelligence Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Relationship_Intelligence</name>
        <label>Create Relationship Intelligence</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Process__c</field>
            <value>
                <elementReference>Buying_Process_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goals__c</field>
            <value>
                <elementReference>Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Needs__c</field>
            <value>
                <elementReference>Needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Problems__c</field>
            <value>
                <elementReference>Problems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Intelligence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relationship_Intelligence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Buying_Process</name>
        <label>Buying Process</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Relationship_Intelligence</targetReference>
        </connector>
        <fields>
            <name>Buying_Process_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer&apos;s Decision Process&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Plan: Establish Goals and Objectives&lt;/li&gt;&lt;li&gt;Recognize: Identify Problems and Obstacles&lt;/li&gt;&lt;li&gt;Search: Determine options, needs&lt;/li&gt;&lt;li&gt;Evaluate: Narrow options to short list&lt;/li&gt;&lt;li&gt;Select: Select best solutions/partner&lt;/li&gt;&lt;li&gt;Commit: Negotiation and reach Contractual Agreement&lt;/li&gt;&lt;li&gt;Implement: Implement solution to meet needs, solve problems and achieve goals&lt;/li&gt;&lt;li&gt;Track: Track results of solution and goal/objectives progress&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buying_Process_Stage</name>
            <choiceReferences>BuyingProcessChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Buying Process Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Relationship_Intelligence</name>
        <label>Relationship Intelligence</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Buying_Process</targetReference>
        </connector>
        <fields>
            <name>Relationship_Intelligence_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Relationship_Intelligence_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Goals_Display_Text</name>
                    <fieldText>&lt;p&gt;What objectives is the client/prospect trying to achieve? What strategies are in place to achieve objectives and goals?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Goals</name>
                    <fieldText>Goals</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Relationship_Intelligence_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Relationship_Intelligence_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Problems_Display_Text</name>
                    <fieldText>&lt;p&gt;What is standing in the way of achieving goals and objectives? Are there obstacles or challenges?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Problems</name>
                    <fieldText>Problems</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Relationship_Intelligence_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Relationship_Intelligence_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Needs_Help_Text</name>
                    <fieldText>&lt;p&gt;What does the client/prospect need so they can overcome the challenges/problems/obstacles and achieve the goals and objectives?&lt;/p&gt;&lt;p&gt;Hint: This doesn’t have to be a named Green Street product.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Needs</name>
                    <fieldText>Needs</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
