src/flows/Relationship_Intelligence_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Form_Decision</name>
        <label>Form Decision</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Completed_All_Forms_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_GPN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPN_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No GPN</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPN_Decision</name>
        <label>GPN Decision</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Success_Screen_without_GPN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_GPN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GPN_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relationship_Intelligence</targetReference>
            </connector>
            <label>Have GPN</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BuyingProcessChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Buying_Process__c</picklistField>
        <picklistObject>Relationship_Intelligence__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompetitionChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competition__c</picklistField>
        <picklistObject>Relationship_Intelligence__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaCompetition</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Other_Competition})</expression>
    </formulas>
    <interviewLabel>Relationship Intelligence Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relationship Intelligence Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Relationship_Intelligence</name>
        <label>Create Relationship Intelligence</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Form_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Details__c</field>
            <value>
                <elementReference>Budget_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Process__c</field>
            <value>
                <elementReference>Buying_Process_Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competition__c</field>
            <value>
                <elementReference>Competition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goals__c</field>
            <value>
                <elementReference>Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Contact__c</field>
            <value>
                <elementReference>KeyContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Needs__c</field>
            <value>
                <elementReference>Needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Competition__c</field>
            <value>
                <elementReference>Other_Competition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Problems__c</field>
            <value>
                <elementReference>Problems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Relationship_Intelligence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buying_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Additional_RI_Information</name>
        <label>Additional RI Information</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Relationship_Intelligence</targetReference>
        </connector>
        <fields>
            <name>Additional_RI_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_RI_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompetitionText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;What other options/competitors are being used or considered?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Competition</name>
                    <choiceReferences>CompetitionChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Competition</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Competition</name>
                    <fieldText>Other Competition</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;If related competitor is unavailable in the “Competition” options, please provide additional insight here.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Competition</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_RI_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_RI_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BudgetText</name>
                    <fieldText>&lt;p&gt;What investment/budget has the prospect/client set aside to solve this problem/achieve this goal?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Budget</name>
                    <dataType>Currency</dataType>
                    <fieldText>Budget</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Customers stated budget. If a range is provided, please use an average amount.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_RI_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_RI_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BudgetDetailsText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;What additional budget details has your key contact shared, i.e. timing of budget, owner of the budget, allocation of the budget?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Budget_Details</name>
                    <fieldText>Budget Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Please include relevant context to budget including: Timing, Owner, and Process&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Buying_Process</name>
        <label>Buying Process</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_and_Department</targetReference>
        </connector>
        <fields>
            <name>Buying_Process_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer&apos;s Decision Process&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Plan: Establish Goals and Objectives&lt;/li&gt;&lt;li&gt;Recognize: Identify Problems and Obstacles&lt;/li&gt;&lt;li&gt;Search: Determine options, needs&lt;/li&gt;&lt;li&gt;Evaluate: Narrow options to short list&lt;/li&gt;&lt;li&gt;Select: Select best solutions/partner&lt;/li&gt;&lt;li&gt;Commit: Negotiation and reach Contractual Agreement&lt;/li&gt;&lt;li&gt;Implement: Implement solution to meet needs, solve problems and achieve goals&lt;/li&gt;&lt;li&gt;Track: Track results of solution and goal/objectives progress&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buying_Process_Stage</name>
            <choiceReferences>BuyingProcessChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Buying Process Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Completed_All_Forms_Screen</name>
        <label>Completed All Forms Screen</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_DisplayTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;A Relationship Intelligence record has been created for this opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_and_Department</name>
        <label>Contact and Department</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GPN_Decision</targetReference>
        </connector>
        <fields>
            <name>Contact_and_Department_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_and_Department_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KeyContactText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Who is your primary contact for this opportunity?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>KeyContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Key_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Key Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Relationship_Intelligence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_and_Department_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_and_Department_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DepartmentText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;What department/function is your primary contact in?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Department</name>
                    <dataType>String</dataType>
                    <fieldText>Department</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Represents the department(s) that you are extracting relationship insights from.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Define_GPN</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Have you identified the customer&apos;s goals, problems, and needs?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GPN_Choice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select your answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;An error has occurred. Please contact your system administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Relationship_Intelligence</name>
        <label>Goals Problems Needs</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_RI_Information</targetReference>
        </connector>
        <fields>
            <name>Relationship_Intelligence_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Relationship_Intelligence_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Goals_Display_Text</name>
                    <fieldText>&lt;p&gt;What objectives is the client/prospect trying to achieve? What strategies are in place to achieve objectives and goals?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Goals</name>
                    <fieldText>Goals</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Relationship_Intelligence_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Relationship_Intelligence_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Problems_Display_Text</name>
                    <fieldText>&lt;p&gt;What is standing in the way of achieving goals and objectives? Are there obstacles or challenges?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Problems</name>
                    <fieldText>Problems</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Relationship_Intelligence_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Relationship_Intelligence_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Needs_Help_Text</name>
                    <fieldText>&lt;p&gt;What does the client/prospect need so they can overcome the challenges/problems/obstacles and achieve the goals and objectives?&lt;/p&gt;&lt;p&gt;Hint: This doesn’t have to be a named Green Street product.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Needs</name>
                    <fieldText>Needs</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_without_GPN</name>
        <label>Success Screen without GPN</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Relationship_Intelligence</targetReference>
        </connector>
        <fields>
            <name>WithoutGPN</name>
            <fieldText>&lt;p&gt;A Relationship Intelligence record has been created for this opportunity. Please work to identify goal, problems, needs, and other surrounding intelligence prior to submitting the opportunity for review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
