src/flows/Renewal_Task_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Checks for Automatic Renewal Yes or No</description>
        <name>AutoRenewal_Yes_or_No</name>
        <label>AutoRenewal Yes or No</label>
        <locationX>572</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automatic_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Days_Until_Close_Date_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Automatic_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Days_Until_Close_Date</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks for Opptys Closing within 80 Days - Viable Close Date between 80 &amp; 30 days</description>
        <name>CloseDateCheck</name>
        <label>CloseDateCheck</label>
        <locationX>232</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number of Days Until Close Date</description>
        <name>Number_of_Days_Until_Close_Date</name>
        <label>Number of Days Until Close Date</label>
        <locationX>573</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X75_Days_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_75_Day_Renewal_Task</targetReference>
            </connector>
            <label>75 Days Out</label>
        </rules>
        <rules>
            <name>X70_Days_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_70_Day_Renewal_Task_0</targetReference>
            </connector>
            <label>70 Days Out</label>
        </rules>
        <rules>
            <name>X60_Days_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_60_Day_Renewal_Task_0_0</targetReference>
            </connector>
            <label>60 Days Out</label>
        </rules>
        <rules>
            <name>X45_Days_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>45.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_45_Day_Renewal_Task_0_0_0</targetReference>
            </connector>
            <label>45 Days Out</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number of Days Until Close Date</description>
        <name>Number_of_Days_Until_Close_Date_0</name>
        <label>Number of Days Until Close Date</label>
        <locationX>802</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X60_Days_Out_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_60_Day_Renewal_Task_0_0_0_0_0</targetReference>
            </connector>
            <label>60 Days Out</label>
        </rules>
        <rules>
            <name>X30_Days_Out_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formDiffCloseToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_30_Day_Renewal_Task_0_0_0_0</targetReference>
            </connector>
            <label>30 Days Out</label>
        </rules>
    </decisions>
    <formulas>
        <description>Auto Renewal</description>
        <name>formAutorenewal60</name>
        <dataType>String</dataType>
        <expression>&quot;Upcoming Automatic Renewal + &quot; + {!VAR_AccountInfo.Name}</expression>
    </formulas>
    <formulas>
        <description>Difference Between the Close Date &amp; Today to generate number of days before Close Date</description>
        <name>formDiffCloseToday</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CloseDate} - {!$Flow.CurrentDate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Today plus 7</description>
        <name>formTodayplus7</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>varSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Upcoming Renewal Notification + &quot; + {!VAR_AccountInfo.Name}</expression>
    </formulas>
    <formulas>
        <description>Subject for 30 day renewal</description>
        <name>varSubject30Renewal</name>
        <dataType>String</dataType>
        <expression>&quot; Account Outreach + &quot; + {!VAR_AccountInfo.Name}</expression>
    </formulas>
    <formulas>
        <name>varSubject45</name>
        <dataType>String</dataType>
        <expression>&quot; Pricing Proposal Creation + &quot; + {!VAR_AccountInfo.Name}</expression>
    </formulas>
    <formulas>
        <description>Subject for 60 days out</description>
        <name>varSubject60</name>
        <dataType>String</dataType>
        <expression>&quot; Pricing Approval + &quot; + {!VAR_AccountInfo.Name}</expression>
    </formulas>
    <formulas>
        <name>varSubject70</name>
        <dataType>String</dataType>
        <expression>&quot; Pre-Renewal Call + &quot; + {!VAR_AccountInfo.Name}</expression>
    </formulas>
    <interviewLabel>Renewal Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Task 30 days before close date</description>
        <name>Create_30_Day_Renewal_Task_0_0_0_0</name>
        <label>Create 30 Day Renewal Task</label>
        <locationX>1007</locationX>
        <locationY>52</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formTodayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Pulse check on account, Request an Updated User List </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject30Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Task 45 days before close date</description>
        <name>Create_45_Day_Renewal_Task_0_0_0</name>
        <label>Create 45 Day Renewal Task</label>
        <locationX>844</locationX>
        <locationY>403</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formTodayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject45</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Task 60 days before close date</description>
        <name>Create_60_Day_Renewal_Task_0_0</name>
        <label>Create 60 Day Renewal Task</label>
        <locationX>671</locationX>
        <locationY>510</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formTodayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Meet with Manager for Renewal Pricing </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Task 60 days before close date</description>
        <name>Create_60_Day_Renewal_Task_0_0_0_0_0</name>
        <label>Create 60 Day Renewal Task</label>
        <locationX>913</locationX>
        <locationY>258</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formTodayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject60</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Task 70 days before close date</description>
        <name>Create_70_Day_Renewal_Task_0</name>
        <label>Create 70 Day Renewal Task</label>
        <locationX>488</locationX>
        <locationY>519</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formTodayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Schedule Call with Client </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject70</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Task 75 days before close date</description>
        <name>Create_75_Day_Renewal_Task</name>
        <label>Create 75 Day Renewal Task</label>
        <locationX>321</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formTodayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Research / Prepare Prior to Pricing Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <description>Captures Account Name</description>
        <name>GetAccountName</name>
        <label>GetAccountName</label>
        <locationX>413</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AutoRenewal_Yes_or_No</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>VAR_AccountInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CloseDateCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012J0000000wq69IAA</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-06-04</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VAR_AccountInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
