src/flows/Sync_Zephr_User_Data.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Cities</name>
        <label>Set Cities</label>
        <locationX>182</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>contactToUpdate.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_City__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Country_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Company_Name</name>
        <label>Set Company Name</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>leadToUpdate.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Title_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Company_Type</name>
        <label>Set Company Type</label>
        <locationX>182</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>leadToUpdate.Company_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Company_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_Number_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Id</name>
        <label>Set Contact Id</label>
        <locationX>50</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>contactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Countries</name>
        <label>Set Countries</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>contactToUpdate.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Company_Type_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Emails</name>
        <label>Set Emails</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>contactToUpdate.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Company_Name_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Names</name>
        <label>Set First Names</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>leadToUpdate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactToUpdate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Name_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Job_Ttitles</name>
        <label>Set Job Ttitles</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>contactToUpdate.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>City_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Names</name>
        <label>Set Last Names</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>leadToUpdate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactToUpdate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Id</name>
        <label>Set Lead Id</label>
        <locationX>314</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>leadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phones</name>
        <label>Set Phones</label>
        <locationX>182</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>contactToUpdate.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadToUpdate.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zephr_Telephone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_or_Contact_Associated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>City_Changed</name>
        <label>City Changed?</label>
        <locationX>314</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Country_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CTY_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_City__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Name_Changed</name>
        <label>Company Name Changed?</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Job_Title_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CN_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_Company_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_Company_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Company_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Type_Changed</name>
        <label>Company Type Changed?</label>
        <locationX>314</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Phone_Number_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_Company_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_Company_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Company_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Changed</name>
        <label>Country Changed?</label>
        <locationX>314</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Company_Type_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CNT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_Country__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Countries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Changed</name>
        <label>Email Changed?</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Company_Name_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EML_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Zephr_Email_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Emails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Name_Changed</name>
        <label>First Name Changed?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Last_Name_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FN_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_First_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Names</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Title_Changed</name>
        <label>Job Title Changed?</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>City_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JT_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_Job_Title__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_Job_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Job_Ttitles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Name_Changed</name>
        <label>Last Name Changed?</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Email_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LN_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_Last_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Names</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact_Associated</name>
        <label>Lead or Contact Associated</label>
        <locationX>314</locationX>
        <locationY>3359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Id</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Id</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_Number_Changed</name>
        <label>Phone Number Changed?</label>
        <locationX>314</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Lead_or_Contact_Associated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PN_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zephr_Telephone_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Zephr_Telephone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phones</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Sync Zephr User Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Zephr User Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>50</locationX>
        <locationY>3599</locationY>
        <inputReference>contactToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>314</locationX>
        <locationY>3599</locationY>
        <inputReference>leadToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Name_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Zephr_Telephone_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_City__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Last_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_First_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Job_Title__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Company_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Company_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zephr_Country__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Zephr_User__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>leadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
