src/flows/Task_Update_Engagement_Recording_Opt_Out_Disposition.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Engagement_Disposition</name>
        <label>Update Engagement Disposition</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Engagement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.affectlayer__ChorusEngagement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Engagement.affectlayer__Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recording Opt-out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EngagementRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Engagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recording_Opt_out</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Recording_Opt_out</name>
        <label>Check Engagement List</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EngagementRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Engagement_Records</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Engagement_disposition_No_Show</name>
        <label>Is Engagement disposition No Show</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Recording_Opt_out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.affectlayer__ChorusEngagement__r.affectlayer__Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Engagement_Disposition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Update Engagement &apos;Recording Opt-Out&apos; Disposition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Engagement_Records</name>
        <label>Update Engagement Records</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputReference>EngagementRecordList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Engagement_disposition_No_Show</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>affectlayer__ChorusEngagement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Engagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>affectlayer__Engagement__c</objectType>
    </variables>
    <variables>
        <name>EngagementRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>affectlayer__Engagement__c</objectType>
    </variables>
</Flow>
