src/flows/Trial_Process_Enhanced_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>TransactionQueueId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Gdq000001P92jEAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Trial_Start_Or_Deactivation_Decision_On_Oppty</name>
        <label>Trial Start Or Deactivation Decision On Oppty</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trial_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trial_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>React News</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Green Street News: Europe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Review_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Review Trial</label>
        </rules>
        <rules>
            <name>Limited_Access_Oppty_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trial_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trial_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limited Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Products__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>React News</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Limited_Case_Trial</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Limited Access Oppty Trial</label>
        </rules>
        <rules>
            <name>Update_Deactivation_Due_Date</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Due_Date_Update</targetReference>
            </connector>
            <label>Update Deactivation Due Date</label>
        </rules>
        <rules>
            <name>Create_Transaction_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACH_Auto_debit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transaction_Support_RT</targetReference>
            </connector>
            <label>Create Transaction Support Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ADayAfterTrialEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Trial_End_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>ADayAfterTrialEnds</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>TrialEndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Trial_End_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Trial Process Enhanced Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trial Process Enhanced Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Limited_Case_Trial</name>
        <label>Create Limited Case Trial</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivationDeactivation_Needs__c</field>
            <value>
                <stringValue>Limited Trial Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Limited Access Trial Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.Trial_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Client_Access_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Client_Access</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Limited Trial Activation - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Case</name>
        <label>Create Transaction Case</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AP_Email__c</field>
            <value>
                <elementReference>$Record.AP_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TransactionCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TransactionQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Transaction_Support_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Account.Name} - ACH Auto-Debit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Set up Auto-Debit</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opportunity_Review_Case</name>
        <label>Opportunity Review Case</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review this trial opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000004kjjW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Opportunity_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Name} - Trial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Transaction_Support_RT</name>
        <label>Get Transaction Support RT</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transaction_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Due_Date_Update</name>
        <label>Case Due Date Update</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>(1 OR 2) AND (3 AND 4)</filterLogic>
        <filters>
            <field>ActivationDeactivation_Needs__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Limited Trial Deactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivationDeactivation_Needs__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Trial Deactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.Trial_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trial_Start_Or_Deactivation_Decision_On_Oppty</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TransactionCaseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello OTC Team, 
A customer requires ACH Auto-debit setup for linked opportunity.
This is an auto-generated email . Please reach out to Commercial Tech support if you require assistance.</text>
    </textTemplates>
</Flow>
