src/flows/Trial_Process_Enhanced_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will notify case owner and Claire for cases open without activity for 4 days</description>
        <name>CaseStaleFor4days</name>
        <label>CaseStaleFor4days</label>
        <locationX>1018</locationX>
        <locationY>408</locationY>
        <actionName>Case.Case_Stale_For_4_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ClientTrialActivationEmailAlert</name>
        <label>ClientTrialActivationEmailAlert</label>
        <locationX>314</locationX>
        <locationY>984</locationY>
        <actionName>Case.Trial_Activation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Compliance_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TrialActivationEmailAlert</name>
        <label>TrialActivationEmailAlert</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <actionName>Case.Trial_Activation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Compliance_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Activation_Decision</name>
        <label>Activation Decision</label>
        <locationX>534</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActivationCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Description_For_trial_opportunity</targetReference>
            </connector>
            <label>ActivationCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compliance_Creation</name>
        <label>Compliance Creation</label>
        <locationX>314</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClientAccessCaseClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Subsidiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10 GSA LLC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please review this trial opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Compliance_Record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ClientAccessCaseClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Description_For_trial_opportunity</name>
        <label>Description For trial opportunity</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>GSA_Relation_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trial_opportunity_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please review this trial opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Activation_Case</targetReference>
            </connector>
            <label>Trial opportunity case</label>
        </rules>
    </decisions>
    <decisions>
        <name>GSA_Relation_Decision</name>
        <label>GSA Relation Decision</label>
        <locationX>314</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Compliance_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GSARelationTrial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivationDeactivation_Needs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_GSA_Relation_To_Trial</targetReference>
            </connector>
            <label>GSARelationTrial</label>
        </rules>
        <rules>
            <name>GSARelationClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivationDeactivation_Needs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_GSA_Relation_To_Client_Trial</targetReference>
            </connector>
            <label>GSARelationClient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Untouched_Case_For_4_days_Decision</name>
        <label>Untouched Case For 4 days Decision</label>
        <locationX>1150</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3BusinessDaysSinceModified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Help_Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Days_Since_Modified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseStaleFor4days</targetReference>
            </connector>
            <label>3BusinessDaysSinceModified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TWOdaysbeforeDuedate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Due_Date__c} - 2</expression>
    </formulas>
    <formulas>
        <name>UntouchedCaseFor4DaysEmailRecipient</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <interviewLabel>Trial Process Enhanced Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trial Process Enhanced Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activation_Case</name>
        <label>Create Activation Case</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>GSA_Relation_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivationDeactivation_Needs__c</field>
            <value>
                <stringValue>Trial Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Trial Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Trial_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5G000004kklJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125G000001QBa1QAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!$Record.Opportunity__r.Name} - Trial Activation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Compliance_Record</name>
        <label>Create Compliance Record</label>
        <locationX>182</locationX>
        <locationY>1320</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAF_Type__c</field>
            <value>
                <stringValue>Trial Activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_New__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_End_Date__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Trial_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Compliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account_GSA_Relation_To_Client_Trial</name>
        <label>Update Account GSA Relation To Client + Trial</label>
        <locationX>314</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>ClientTrialActivationEmailAlert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Client + Trial</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_GSA_Relation_To_Trial</name>
        <label>Update Account GSA Relation To Trial</label>
        <locationX>50</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>TrialActivationEmailAlert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Activation_Decision</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Case_Open_For_4_Days</name>
            <connector>
                <targetReference>Untouched_Case_For_4_days_Decision</targetReference>
            </connector>
            <label>Case Open For 4 Days</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseOpenFor4Days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!$Record.Owner:User.FirstName},&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;There has been no activity for case: # {!$Record.CaseNumber} for the past 4 days. Please review the case to determine the next steps and follow up with clients as needed.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
