src/flows/Update_Case_Deactivation_to_Conversion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Case_Conversion_Decision</name>
        <label>Case Conversion Decision</label>
        <locationX>770</locationX>
        <locationY>424</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Limited_Deactivation_to_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limited Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Win_Validation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upsell_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Limited_Conversion</targetReference>
            </connector>
            <label>Update Limited Deactivation to Conversion</label>
        </rules>
        <rules>
            <name>Update_Full_Deactivation_to_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Access</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Win_Validation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upsell_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Full_Conversion</targetReference>
            </connector>
            <label>Update Full Deactivation to Conversion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Case Deactivation to Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Deactivation to Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Full_Activation_to_Closed</name>
        <label>Update Full Activation to Closed</label>
        <locationX>482</locationX>
        <locationY>620</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivationDeactivation_Needs__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Account Activation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Limited_Activation_to_Closed</name>
        <label>Update Limited Activation to Closed</label>
        <locationX>1058</locationX>
        <locationY>622</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivationDeactivation_Needs__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Account Activation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Full_Conversion</name>
        <label>Update to Full Conversion</label>
        <locationX>483</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>Update_Full_Activation_to_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivationDeactivation_Needs__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Trial Deactivation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivationDeactivation_Needs__c</field>
            <value>
                <stringValue>Full Trial Conversion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Full Trial Conversion - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Limited_Conversion</name>
        <label>Update to Limited Conversion</label>
        <locationX>1058</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Update_Limited_Activation_to_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivationDeactivation_Needs__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Limited Trial Deactivation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivationDeactivation_Needs__c</field>
            <value>
                <stringValue>Limited Trial Conversion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Limited Trial Conversion - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Update_Deactivation_Case</name>
            <connector>
                <targetReference>Case_Conversion_Decision</targetReference>
            </connector>
            <label>Update Deactivation Case</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Trial_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
