src/flows/Update_Products_on_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Product_Name</name>
        <label>Set Product Name</label>
        <locationX>427</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>ProductsName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppendNameToProductName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Flow_Execution_Logic</name>
        <label>Check Flow Execution Logic</label>
        <locationX>264</locationX>
        <locationY>341</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Should_be_New_OR_Lost_Product_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Product_Line</targetReference>
            </connector>
            <label>Record Should be New OR Lost Product Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddDescription</name>
        <dataType>String</dataType>
        <expression>if(isblank({!FinalDescription}),
{!Loop_through_Line_Items.Product2.Description}, 
if(CONTAINS({!FinalDescription}, {!Loop_through_Line_Items.Product2.Description}),{!FinalDescription},
{!FinalDescription} &amp; &apos;&lt;br/&gt;-&apos; &amp; {!Loop_through_Line_Items.Product2.Description}))</expression>
    </formulas>
    <formulas>
        <name>AppendNameToProductName</name>
        <dataType>String</dataType>
        <expression>if(isblank({!ProductsName}),
{!Loop_through_Line_Items.Product2.Name}, 
if(CONTAINS({!ProductsName}, {!Loop_through_Line_Items.Product2.Name}),{!ProductsName},
{!ProductsName} &amp; &quot;; &quot; &amp; {!Loop_through_Line_Items.Product2.Name}))</expression>
    </formulas>
    <interviewLabel>Update Products on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Products on Opportunity</label>
    <loops>
        <name>Loop_through_Line_Items</name>
        <label>Loop through Line Items</label>
        <locationX>428</locationX>
        <locationY>471</locationY>
        <collectionReference>Get_All_Product_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Product_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Oppotunity_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Product_Line</name>
        <label>Get All Product Line</label>
        <locationX>169</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lost_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppotunity_Record</name>
        <label>Update Oppotunity Record</label>
        <locationX>677</locationX>
        <locationY>484</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Products__c</field>
            <value>
                <elementReference>ProductsName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Flow_Execution_Logic</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;html&gt; Access To : &lt;br/&gt;&lt;ul&gt;</text>
    </textTemplates>
    <variables>
        <name>FinalDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastPart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;/ul&gt;&lt;/html&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
