src/flows/Upsell_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_ContactId</name>
        <label>Assign Default ContactId</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>DefaultContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Sales_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Campaign_Touchpoint_Details</name>
        <label>Update Campaign Touchpoint Details</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Campaign_Touchpoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record.First_Campaign_Touchpoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Campaign_Touchpoint_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record.First_Campaign_Touchpoint_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Campaign_Touchpoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record.Last_Campaign_Touchpoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Campaign_Touchpoint_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Record.Last_Campaign_Touchpoint_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Description_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Default_Contact_Id</name>
        <label>Update Default Contact Id</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>DefaultContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Default_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Default_Contact_Not_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Inbound_Flag</name>
        <label>Update Inbound Flag</label>
        <locationX>204</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inbound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_upsell_cross_Sell_Condition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Whenever a product is listed on an Sale opportunity RT and the “upsell/cross-sell” checkbox is checked, ensure the opportunity is Sales Type = Upsell.</description>
        <name>Check_upsell_cross_Sell_Condition</name>
        <label>Check upsell/cross Sell Condition</label>
        <locationX>336</locationX>
        <locationY>2495</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Upsells_value_for_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upsells__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsell_Update_Opp_Process</targetReference>
            </connector>
            <label>Check Upsells value for Opp</label>
        </rules>
        <rules>
            <name>Check_Upsells_Less_than_1_for_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upsells__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Sales_Type_Update_on_Opp</targetReference>
            </connector>
            <label>Check Upsells Less than 1 for Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Description_History</name>
        <label>Description History</label>
        <locationX>336</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>SAO_Owner_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Description_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Description_History</targetReference>
            </connector>
            <label>Description Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Admin_Created_SDO_Opportunity</name>
        <label>Is Admin Created SDO Opportunity?</label>
        <locationX>336</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Check_upsell_cross_Sell_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_SDO_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inbound_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Default_Contact_Not_Empty</name>
        <label>Is Default Contact Not Empty?</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Description_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Opportunity</name>
        <label>Is Sales Opportunity?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Is_Default_Contact_Not_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Default_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Default_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DefaultContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Default_Contact_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Or_SDO_Opportunity</name>
        <label>Is Sales Or SDO Opportunity</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Description_History</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Or_SDO_Opportunity</name>
            <conditionLogic>(1 OR 2) AND  3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_ContactId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAO_Date_Check</name>
        <label>SAO Date Check</label>
        <locationX>336</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Is_Admin_Created_SDO_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_update_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Conducting Needs Analysis​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BDR_Referred_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAO_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAO_Date_On_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAO_Owner_Check</name>
        <label>SAO Owner Check</label>
        <locationX>336</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>SAO_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BDR_Referred_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAO_Tracking_On_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This will ensure upsell tagging accurately</description>
    <environments>Default</environments>
    <interviewLabel>Upsell {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upsell Sales Type Process For Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact_Record</name>
        <label>Contact Record</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Touchpoint_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefaultContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>New_Sales_Type_Update_on_Opp</name>
        <label>New Sales Type Update on Opp</label>
        <locationX>336</locationX>
        <locationY>2603</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SAO_Date_On_Opportunity</name>
        <label>SAO Date On Opportunity</label>
        <locationX>204</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Is_Admin_Created_SDO_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>SAO_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SAO_Tracking_On_Opportunity</name>
        <label>SAO Tracking On Opportunity</label>
        <locationX>204</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>SAO_Date_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>BDR_Referred_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Description_History</name>
        <label>Update Description History</label>
        <locationX>204</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>SAO_Owner_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Description_History__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upsell_Update_Opp_Process</name>
        <label>Upsell Update Opp Process</label>
        <locationX>72</locationX>
        <locationY>2603</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Sales_Or_SDO_Opportunity</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DefaultContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
