src/flows/Upsell_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Whenever a product is listed on an Sale opportunity RT and the “upsell/cross-sell” checkbox is checked, ensure the opportunity is Sales Type = Upsell.</description>
        <name>Check_upsell_cross_Sell_Condition</name>
        <label>Check upsell/cross Sell Condition</label>
        <locationX>314</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Upsells_value_for_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upsells__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upsell_Update_Opp_Process</targetReference>
            </connector>
            <label>Check Upsells value for Opp</label>
        </rules>
        <rules>
            <name>Check_Upsells_Less_than_1_for_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Upsells__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Sales_Type_Update_on_Opp</targetReference>
            </connector>
            <label>Check Upsells Less than 1 for Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAO_Date_Check</name>
        <label>SAO Date Check</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_upsell_cross_Sell_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_update_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conducting Needs Analysis (3)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified Prospect (2)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BDR_Referred_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAO_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAO_Date_On_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAO_Owner_Check</name>
        <label>SAO Owner Check</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>SAO_Date_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BDR_Referred_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAO_Tracking_On_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This will ensure upsell tagging accurately</description>
    <environments>Default</environments>
    <interviewLabel>Upsell {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upsell Sales Type Process For Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>New_Sales_Type_Update_on_Opp</name>
        <label>New Sales Type Update on Opp</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SAO_Date_On_Opportunity</name>
        <label>SAO Date On Opportunity</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Check_upsell_cross_Sell_Condition</targetReference>
        </connector>
        <inputAssignments>
            <field>SAO_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SAO_Tracking_On_Opportunity</name>
        <label>SAO Tracking On Opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>SAO_Date_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>BDR_Referred_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upsell_Update_Opp_Process</name>
        <label>Upsell Update Opp Process</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Type__c</field>
            <value>
                <stringValue>Upsell</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SAO_Owner_Check</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
